/* Background CSS */

:root {
  --main-color: linear-gradient(12deg, #0069e0, #141e30);
  --main-color-2:linear-gradient(12deg, #070608, #518b8a);
  --main-color-3:linear-gradient(12deg, #220e1f, #518b8a);
  --main-color-4:linear-gradient(12deg, black,#e33e46, #7a5de6);
  --main-color-5:linear-gradient(12deg, black, #957d30, #661d60);
  --main-color-6: linear-gradient(12deg,black, #b346eb, #05f668);
  --main-color-7:linear-gradient(12deg, black, #d53369 0%, #daae51 );
  --main-color-8:linear-gradient(12deg, black, #0700b8 0%, #00ff88 );
  --main-color-9: linear-gradient(12deg, black, #fcff9e 0%, #c67700);
  --main-color-10:linear-gradient(12deg,black, #485c11, #2dcb96);

}
