.global-bottom-bar-buttons {
    background-color: black;
    text-decoration: none;
    border-style: none;
    margin-top: -20px;
    color: white; 
    font-size: 20px;
    border-radius: 10px;
    padding: 16px 32px;
    transition-duration: 0.2s;
}

.global-bottom-bar-buttons:hover{
    background-color: green;
    color: white;
}

.global-general-button-back-button{
    background-color: black;
    
}