body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}


.global-bottom-bar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 10px 32px;
    height: 50px;
    border-radius: 16px;
    margin-top: 700px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4), 0px 0px 40px rgba(0, 0, 0, 0.3); 
}

.global-bottom-bar-content {
    margin-top: 20px;
    font-size: 20px;
}


.global-bar-bottom-bar-group-left {
    margin-left: -1470px; 
}

.global-bar-bottom-bar-group-middle {
    margin-top: -40px;
    margin-left: 20px; 
}