body {
    background-color:                 black;
    font-family:                      'BigBlueTermPlus Nerd Font Mono';
} 

 
.settings-sidebar {
    height:                           100%;
    width:                            400px;
    background-color:                 rgb(32, 32, 32);
    position:                         fixed;
}


.settings-sidebar-content{
    margin-left:                      2px;
    text-align:                       center;
    color:                            white;
    font-size:                        40px;
}


.settings-sidebar-content-header {
    padding:                          46px 32px;
}


.settings-sidebar-content-side-buttons-container{
    margin-top:                       80px;
}

.settings-sidebar-content-side-buttons {
    background-color:                 rgb(31, 31, 31); 
    padding:                          16px 32px;
    text-decoration:                  none;
    color:                            white;
    border-style:                     none;
    font-size:                        20px;
    font-family:                      'BigBlueTermPlus Nerd Font Mono';
    transition-duration:              0.4s;
}

.settings-sidebar-content-side-buttons:hover {
    transform:                        scale(3.0);
}

.settings-main-content-container {
    margin-left:                      400px;
    padding:                          16px 15px;
    background-color:                 rgb(0, 0, 0);
    color:                            white;   
}


.settings-main-content{
    margin-top:                       35px;
}

.settings-main-content-header-one {
    font-size:                        40px;
}


.settings-bar-activate {
    top:                              0;
    bottom:                           0;
    left:                             0;
    right:                            0;
    visibility:                       hidden;
    opacity:                          0;
}

.settings-bar-activate:target {
    visibility:                       visible;
    opacity:                          1;
}



.bluetooth-bar {}

.nfc-bar {}

.audio-bar {}

.theme-bar {}


/**

------------------------
COLORS that are used for the FOIL Bar view 
------------------------

Color 1:
------------
rgb(12, 20, 97)


Color 2:
------------
rgb(12, 77 12)

**/


.bluetooth-bar-content {
    margin-top:                       40px;
    margin-left:                      200px;
    background-color:                 transparent;
    border-radius:                    30px;
    box-shadow:                       -100px 500px 100px 200px rgb(12, 20, 97);
}

.nfc-bar-content {
    margin-top:                       -50px;
    margin-left:                      200px;
    background-color:                 transparent;
    border-radius:                    30px;
    box-shadow:                       -100px 500px 100px 200px rgb(97, 77, 12);
}
