{% include './System_Files/Global/system.global.ui.include.ui.html' %}
{% include './System_Files/Global/system.global.ui.include.statusbar.html' %}
{% include './System_Files/Global/system.global.ui.include.controlcenter.html' %}

<div class="bar">
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    
    
    <a href="/" class="button-no-animate-mode">BACK</a>
    </div>
    <h1> 
    <style> 
    body{
      text-align: center;
      font-size: 50px;
    }

    .blob-1 {
      background-color: red;
      /* blur */
      -webkit-filter: blur(200px);
      filter: blur(200px);
      font-size: 900px;
      width: 900px;
      border-radius: 100px;
    }

    .blob-2 {
      background-color: rgb(255, 170, 0);
      /* blur */
      -webkit-filter: blur(200px);
      filter: blur(200px);
      font-size: 900px;
      width: 900px;
      margin-left: 100px;
      border-radius: 100px;
    }
    
    </style>
  
    <div class="space"></div>
    <div class="space"></div>
    
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    
    
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>   
    <div class="center">
    <fontsize200> 
        <fontcolorWHITE>
    
        <div id="senalClock"></div>
    
        <script type="text/javascript">
            function GetClock() {
                var d = new Date();
                var senalhour = d.getHours(),
                    senalmin = d.getMinutes();
                if (senalmin <= 9) senalmin = "0" + senalmin
    
                var senal_clock_text = "" + senalhour + ":" + senalmin + "";
                document.getElementById('senalClock').innerHTML = senal_clock_text;
            }
    
            GetClock();
            setInterval(GetClock, 1000);
        </script>
    
    </fontsize200>


    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>   
    
    <div class="blob-1">.</div>
    <div class="blob-2">.</div>
    </fontcolorWHITE>
    
    </div>