{% include './System_Files/Global/system.global.ui.include.ui.html' %}
{% include './System_Files/Global/system.global.ui.include.statusbar.html' %}
{% include './System_Files/Global/system.global.ui.include.controlcenter.html' %}

<div class="bar">
        <a href="/" class="button-no-animate-mode">.</a>
</div>
<style>
        .time {
                background-color: rgba(20, 20, 20, 0.111);
                border-radius: 30px;
                color: white;
                text-align: center;
                font-size: 300px;
                margin-top: -37px;
                transition-duration: 0.9;
                font-weight: 20;
        }

        .button-no-animate-mode {
                background-color: red;
                font-size: 200px;
                margin-left: 870px;
                text-decoration: none;
                -webkit-filter: blur(200px);
                filter: blur(200px);
        }
</style>

<div class="time">
        <div id="senalClock"></div>
        <script type="text/javascript">
                function GetClock() {
                        var d = new Date();
                        var senalhour = d.getHours(),
                                senalmin = d.getMinutes();
                        if (senalmin <= 9) senalmin = "0" + senalmin

                        var senal_clock_text = "" + senalhour + ":" + senalmin + "";
                        document.getElementById('senalClock').innerHTML = senal_clock_text;
                }

                GetClock();
                setInterval(GetClock, 1000);
        </script>
</div>
</div>


<div class="bottom-navigation">
	<button class="FOIL-button-regular-no-shadow"></button>
	<button class="FOIL-button-regular-no-shadow"></button>
	<button class="FOIL-button-regular-no-shadow"></button>
	<button class="FOIL-button-regular-no-shadow"></button>
	
</div>
