{% include './System_Files/Lesson/system.lesson.ui.include.ui.html' %}
{% include './System_Files/Global/system.global.ui.include.statusbar.html' %}


<style>
    @import './background.css';
  
    body {
      overflow: none;
  
      color: white;
      background: var(--main-color-16);
    }
  </style>
  <div class="bar">
  
    <a href="/main_menu" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
    <a href="/lesson__coverletter__introduction" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
    <a href="#" class="button"onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
  
    
  </div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="indicator is-off">
    <fontsize100>
      <p align="center">{{game_menu_header_title}} </p>
    </fontsize100>
  
  </div>

  <div class="space"></div>
  
  <div class="indicator is-off center-center">
    <a href="/lesson__coverletter__introduction" class="button small button is-red button-no-animate-mode">Start</a>
    <a href="/main_menu" class="button small button is-red button-no-animate-mode">Back</a>
  </div>
  </div>
  
  <ul></ul>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  </div>