{% include './System_Files/Lesson/system.lesson.ui.include.ui.html' %}

<style>
  body {
    overflow: none;
    /* Turns off Scrolling :hidden */
    color: white;
    background: #37474F;
    background: var(--main-color-16);
  }

  /* Custom */
  boxer {
    padding: 16px 32px;
    background-color: white;
    color: black;

  }
</style>      

<div class="bar">
  <a href="/lesson__coverletter__main_menu" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
  <a href="/lesson__coverletter__page1" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
  <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>

</div>
<div class="space"></div>
<div class="space"></div>

<div class="indicator is-off">
  <fontsize100>
    <p align="center">{{introduction_header_title}} </p>
  </fontsize100>

  <fontsize20>
    <p align="center">
     {{introduction_description}}
    </p>
  </fontsize20>

  <fontsize20>
    <p align="center">
     {{introduction_confirmation}}
    </p>
  </fontsize20>
</div>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <center>
    <a href="/lesson__coverletter__page1" class="button">Yes </a>
    <a href="/lesson__coverletter__main_menu" class="button">No </a>
  </center>

</div>