/*****************************************************
        FOÏL UI.css 
        Version 2.0.4
*******************************************************/


/*****************************************************
        Body Class
*******************************************************/
body {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
  display: inline-flexbox;
}
/*****************************************************
        Text-Header DIV Class
*******************************************************/
.FOIL-Text-Header-1 {
  font-size: 2em;
  font-weight: bolder;
}
.FOIL-Text-Header-2 {
  font-size: 1.5em;
  font-weight: bolder;
}
.FOIL-Text-Header-3 {
  font-size: 1.17em;
  font-weight: bolder;
}
.FOIL-Text-Header-4 {
  font-size: 1em;
  font-weight: bolder;
}
.FOIL-Text-Header-5 {
  font-size: 0.83em;
  font-weight: bolder;
}
.FOIL-Text-Header-6 {
  font-size: 0.67em;
  font-weight: bolder;
}
/*****************************************************
        Navigation-Bar DIV Class
*******************************************************/
.FOIL-Navigation-Bar {
  padding: 16px 32px;
  background-color: transparent;
}
/*****************************************************
        Navigation-Bar Color Substitutes 
*******************************************************/
.FOIL-Navigation-Bar.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
}
.FOIL-Navigation-Bar.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
}
.FOIL-Navigation-Bar.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
}
.FOIL-Navigation-Bar.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
}
.FOIL-Navigation-Bar.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
}
.FOIL-Navigation-Bar.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
}
/*****************************************************
        Font-Styles DIV Class
*******************************************************/
.FOIL-Font-Styles--Impact {
  font-family: Impact;
}
.FOIL-Font-Styles--Georgia {
  font-family: Georgia;
}
.FOIL-Font-Styles--Verdana {
  font-family: Verdana;
}
.FOIL-Font-Styles--times {
  font-family: times;
}
.FOIL-Font-Styles--sans-serif {
  font-family: sans-serif;
}
.FOIL-Font-Styles--monospace {
  font-family: monospace;
}
/*****************************************************
        Buttons DIV Class
*******************************************************/
.FOIL-button {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}

/*****************************************************
         Button Color Substitutes 
*******************************************************/
.FOIL-button.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
}
.FOIL-button.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
}
.FOIL-button.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
}
.FOIL-button.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
}
.FOIL-button.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
}
.FOIL-button.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
}
.FOIL-button.color-is-pink {
  background-color: rgba(185, 0, 114, 0.931);
  color: white;
}
.FOIL-button.color-is-purple {
  background-color: rgba(126, 0, 185, 0.931);
  color: white;
}
/*****************************************************
         Snake Sunset Color Scheme
*******************************************************/
.FOIL-button.color-snake-sunset-color-one {
  background-color: #65534b;
  color: white;
}
.FOIL-button.color-snake-sunset-color-two {
  background-color: #a2805c;
  color:white;
}
.FOIL-button.color-snake-sunset-color-three {
  background-color: #e8b464;
  color:black;
}
.FOIL-button.color-snake-sunset-color-four {
  background-color: #cf7f00
}
.FOIL-button.color-snake-sunset-color-five {
  background-color: #ffb300;
  color: black;
}
.FOIL-button.color-snake-sunset-color-six {
  background-color: #ff0000;
}
.FOIL-button:hover {
  box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
  background-color: rgb(1, 208, 67);
  color: white;
}
.FOIL-button:active {
  box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
  background-color: red;
  color: white;
}
/*****************************************************
         Button Small DIV Class 
*******************************************************/
.FOIL-button-small {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}
/*****************************************************
         Button Small Color Substitutes 
*******************************************************/
.FOIL-button-small.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
}
.FOIL-button-small.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
}
.FOIL-button-small.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
}
.FOIL-button-small.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
}
.FOIL-button-small.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
}
.FOIL-button-small.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
}
.FOIL-button-small.color-is-pink {
  background-color: rgba(185, 0, 114, 0.931);
  color: white;
}
.FOIL-button-small.color-is-purple {
  background-color: rgba(126, 0, 185, 0.931);
  color: white;
}
.FOIL-button-small:hover {
  box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
  background-color: rgb(1, 208, 67);
  color: white;
}
.FOIL-button-small:active {
  box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
  background-color: red;
  color: white;
}
/*****************************************************
         Layout DIV Class
*******************************************************/
.FOIL-Layout {
  background-color:transparent;
  color:black;
  padding: 10em 1em;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 60px 0 rgba(0, 0, 0, 0.459), 0 60px 60px 0 rgba(61, 61, 61, 0.589);
}
/*****************************************************
         Layout Color Substitutes 
*******************************************************/
.FOIL-Layout.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
}
.FOIL-Layout.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
}
.FOIL-Layout.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
}
.FOIL-Layout.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
}
.FOIL-Layout.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
}
.FOIL-Layout.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
}
/*****************************************************
         Layout Rounded DIV Class
*******************************************************/
.FOIL-Layout.Rounded {
  background-color:transparent;
  color:black;
  padding: 10em 1em;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
  margin-bottom: 3rem;
}
/*****************************************************
         Layout Rounded Color Substitutes 
*******************************************************/
.FOIL-Layout.Rounded.color-is-red {
  background-color: rgba(185, 0, 0, 0.931);
  color: white;
}
.FOIL-Layout.Rounded.color-is-black {
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
}
.FOIL-Layout.Rounded.color-is-yellow {
  background-color: rgba(255, 217, 0, 0.931);
  color: black;
}
.FOIL-Layout.Rounded.color-is-green {
  background-color: rgb(67, 91, 68);
  color: white;
}
.FOIL-Layout.Rounded.color-is-blue {
  background-color: rgb(67, 69, 91);
  color: white;
}
.FOIL-Layout.Rounded.color-is-orange {
  background-color: rgb(167, 72, 14);
  color: white;
}

/*****************************************************
         Highlight DIV Class
*******************************************************/
.FOIL-Highlight {
  background-color:transparent;
  color:transparent;
}
/*****************************************************
         Highlight Color Substitutes
*******************************************************/
.FOIL-Highlight.color-is-red {
  background-color: red;
}
.FOIL-Highlight.color-is-yellow {
  background-color: yellow;
}
.FOIL-Highlight.color-is-green {
  background-color: rgb(156, 223, 57);
}
/*****************************************************
         Highlight Text Color Substitutes
*******************************************************/
.FOIL-Highlight.text-color-is-white {
  color: white;
}
.FOIL-Highlight.text-color-is-black {
  color: black;
}
/************************************************************************************
         Font Sizes
         Directions: Use example: "<FOIL-Font-Size-2>" Font Size Range: 1px to 1000px
*************************************************************************************/
FOIL-Font-Size-1 {
  font-size: 1px;
}

FOIL-Font-Size-2 {
  font-size: 2px;
}

FOIL-Font-Size-3 {
  font-size: 3px;
}

FOIL-Font-Size-4 {
  font-size: 4px;
}

FOIL-Font-Size-5 {
  font-size: 5px;
}

FOIL-Font-Size-6 {
  font-size: 6px;
}

FOIL-Font-Size-7 {
  font-size: 7px;
}

FOIL-Font-Size-8 {
  font-size: 8px;
}

FOIL-Font-Size-9 {
  font-size: 9px;
}

FOIL-Font-Size-10 {
  font-size: 10px;
}

FOIL-Font-Size-11 {
  font-size: 11px;
}

FOIL-Font-Size-12 {
  font-size: 12px;
}

FOIL-Font-Size-13 {
  font-size: 13px;
}

FOIL-Font-Size-14 {
  font-size: 14px;
}

FOIL-Font-Size-15 {
  font-size: 15px;
}

FOIL-Font-Size-16 {
  font-size: 16px;
}

FOIL-Font-Size-17 {
  font-size: 17px;
}

FOIL-Font-Size-18 {
  font-size: 18px;
}

FOIL-Font-Size-19 {
  font-size: 19px;
}

FOIL-Font-Size-20 {
  font-size: 20px;
}

FOIL-Font-Size-21 {
  font-size: 21px;
}

FOIL-Font-Size-22 {
  font-size: 22px;
}

FOIL-Font-Size-23 {
  font-size: 23px;
}

FOIL-Font-Size-24 {
  font-size: 24px;
}

FOIL-Font-Size-25 {
  font-size: 25px;
}

FOIL-Font-Size-26 {
  font-size: 26px;
}

FOIL-Font-Size-27 {
  font-size: 27px;
}

FOIL-Font-Size-28 {
  font-size: 28px;
}

FOIL-Font-Size-29 {
  font-size: 29px;
}

FOIL-Font-Size-30 {
  font-size: 30px;
}

FOIL-Font-Size-31 {
  font-size: 31px;
}

FOIL-Font-Size-32 {
  font-size: 32px;
}

FOIL-Font-Size-33 {
  font-size: 33px;
}

FOIL-Font-Size-34 {
  font-size: 34px;
}

FOIL-Font-Size-35 {
  font-size: 35px;
}

FOIL-Font-Size-36 {
  font-size: 36px;
}

FOIL-Font-Size-37 {
  font-size: 37px;
}

FOIL-Font-Size-38 {
  font-size: 38px;
}

FOIL-Font-Size-39 {
  font-size: 39px;
}

FOIL-Font-Size-40 {
  font-size: 40px;
}

FOIL-Font-Size-41 {
  font-size: 41px;
}

FOIL-Font-Size-42 {
  font-size: 42px;
}

FOIL-Font-Size-43 {
  font-size: 43px;
}

FOIL-Font-Size-44 {
  font-size: 44px;
}

FOIL-Font-Size-45 {
  font-size: 45px;
}

FOIL-Font-Size-46 {
  font-size: 46px;
}

FOIL-Font-Size-47 {
  font-size: 47px;
}

FOIL-Font-Size-48 {
  font-size: 48px;
}

FOIL-Font-Size-49 {
  font-size: 49px;
}

FOIL-Font-Size-50 {
  font-size: 50px;
}

FOIL-Font-Size-51 {
  font-size: 51px;
}

FOIL-Font-Size-52 {
  font-size: 51px;
}

FOIL-Font-Size-53 {
  font-size: 52px;
}

FOIL-Font-Size-54 {
  font-size: 53px;
}

FOIL-Font-Size-55 {
  font-size: 54px;
}

FOIL-Font-Size-56 {
  font-size: 55px;
}

FOIL-Font-Size-57 {
  font-size: 57px;
}

FOIL-Font-Size-58 {
  font-size: 58px;
}

FOIL-Font-Size-59 {
  font-size: 59px;
}

FOIL-Font-Size-60 {
  font-size: 60px;
}

FOIL-Font-Size-61 {
  font-size: 61px;
}

FOIL-Font-Size-62 {
  font-size: 62px;
}

FOIL-Font-Size-63 {
  font-size: 63px;
}

FOIL-Font-Size-64 {
  font-size: 64px;
}

FOIL-Font-Size-65 {
  font-size: 65px;
}

FOIL-Font-Size-66 {
  font-size: 66px;
}

FOIL-Font-Size-67 {
  font-size: 67px;
}

FOIL-Font-Size-68 {
  font-size: 68px;
}

FOIL-Font-Size-69 {
  font-size: 69px;
}

FOIL-Font-Size-70 {
  font-size: 70px;
}

FOIL-Font-Size-71 {
  font-size: 71px;
}

FOIL-Font-Size-72 {
  font-size: 72px;
}

FOIL-Font-Size-73 {
  font-size: 73px;
}

FOIL-Font-Size-74 {
  font-size: 74px;
}

FOIL-Font-Size-75 {
  font-size: 76px;
}

FOIL-Font-Size-76 {
  font-size: 76px;
}

FOIL-Font-Size-77 {
  font-size: 77px;
}

FOIL-Font-Size-78 {
  font-size: 78px;
}

FOIL-Font-Size-79 {
  font-size: 79px;
}

FOIL-Font-Size-80 {
  font-size: 80px;
}

FOIL-Font-Size-81 {
  font-size: 81px;
}

FOIL-Font-Size-82 {
  font-size: 82px;
}

FOIL-Font-Size-83 {
  font-size: 83px;
}

FOIL-Font-Size-84 {
  font-size: 84px;
}

FOIL-Font-Size-85 {
  font-size: 85px;
}

FOIL-Font-Size-86 {
  font-size: 86px;
}

FOIL-Font-Size-87 {
  font-size: 87px;
}

FOIL-Font-Size-88 {
  font-size: 88px;
}

FOIL-Font-Size-89 {
  font-size: 89px;
}

FOIL-Font-Size-90 {
  font-size: 90px;
}

FOIL-Font-Size-91 {
  font-size: 91px;
}

FOIL-Font-Size-92 {
  font-size: 92px;
}

FOIL-Font-Size-93 {
  font-size: 93px;
}

FOIL-Font-Size-94 {
  font-size: 94px;
}

FOIL-Font-Size-95 {
  font-size: 95px;
}

FOIL-Font-Size-96 {
  font-size: 96px;
}

FOIL-Font-Size-97 {
  font-size: 97px;
}

FOIL-Font-Size-98 {
  font-size: 98px;
}

FOIL-Font-Size-99 {
  font-size: 99px;
}

FOIL-Font-Size-100 {
  font-size: 100px;
}

FOIL-Font-Size-101 {
  font-size: 101px;
}

FOIL-Font-Size-102 {
  font-size: 102px;
}

FOIL-Font-Size-103 {
  font-size: 103px;
}

FOIL-Font-Size-104 {
  font-size: 104px;
}

FOIL-Font-Size-105 {
  font-size: 105px;
}

FOIL-Font-Size-106 {
  font-size: 106px;
}

FOIL-Font-Size-107 {
  font-size: 107px;
}

FOIL-Font-Size-108 {
  font-size: 108px;
}

FOIL-Font-Size-109 {
  font-size: 109px;
}

FOIL-Font-Size-110 {
  font-size: 110px;
}

FOIL-Font-Size-111 {
  font-size: 111px;
}

FOIL-Font-Size-112 {
  font-size: 112px;
}

FOIL-Font-Size-113 {
  font-size: 113px;
}

FOIL-Font-Size-114 {
  font-size: 114px;
}

FOIL-Font-Size-115 {
  font-size: 115px;
}

FOIL-Font-Size-116 {
  font-size: 116px;
}

FOIL-Font-Size-117 {
  font-size: 117px;
}

FOIL-Font-Size-118 {
  font-size: 118px;
}

FOIL-Font-Size-119 {
  font-size: 119px;
}

FOIL-Font-Size-120 {
  font-size: 120px;
}

FOIL-Font-Size-121 {
  font-size: 121px;
}

FOIL-Font-Size-122 {
  font-size: 122px;
}

FOIL-Font-Size-123 {
  font-size: 123px;
}

FOIL-Font-Size-124 {
  font-size: 124px;
}

FOIL-Font-Size-125 {
  font-size: 125px;
}

FOIL-Font-Size-126 {
  font-size: 126px;
}

FOIL-Font-Size-127 {
  font-size: 127px;
}

FOIL-Font-Size-128 {
  font-size: 128px;
}

FOIL-Font-Size-129 {
  font-size: 129px;
}

FOIL-Font-Size-130 {
  font-size: 130px;
}

FOIL-Font-Size-131 {
  font-size: 131px;
}

FOIL-Font-Size-132 {
  font-size: 132px;
}

FOIL-Font-Size-133 {
  font-size: 133px;
}

FOIL-Font-Size-134 {
  font-size: 134px;
}

FOIL-Font-Size-135 {
  font-size: 135px;
}

FOIL-Font-Size-136 {
  font-size: 136px;
}

FOIL-Font-Size-137 {
  font-size: 137px;
}

FOIL-Font-Size-138 {
  font-size: 138px;
}

FOIL-Font-Size-139 {
  font-size: 139px;
}

FOIL-Font-Size-140 {
  font-size: 140px;
}

FOIL-Font-Size-141 {
  font-size: 141px;
}

FOIL-Font-Size-142 {
  font-size: 142px;
}

FOIL-Font-Size-143 {
  font-size: 143px;
}

FOIL-Font-Size-144 {
  font-size: 144px;
}

FOIL-Font-Size-145 {
  font-size: 145px;
}

FOIL-Font-Size-146 {
  font-size: 146px;
}

FOIL-Font-Size-147 {
  font-size: 147px;
}

FOIL-Font-Size-148 {
  font-size: 148px;
}

FOIL-Font-Size-149 {
  font-size: 149px;
}

FOIL-Font-Size-150 {
  font-size: 150px;
}

FOIL-Font-Size-151 {
  font-size: 151px;
}

FOIL-Font-Size-152 {
  font-size: 152px;
}

FOIL-Font-Size-153 {
  font-size: 153px;
}

FOIL-Font-Size-154 {
  font-size: 154px;
}

FOIL-Font-Size-155 {
  font-size: 155px;
}

FOIL-Font-Size-156 {
  font-size: 156px;
}

FOIL-Font-Size-157 {
  font-size: 157px;
}

FOIL-Font-Size-158 {
  font-size: 158px;
}

FOIL-Font-Size-159 {
  font-size: 159px;
}

FOIL-Font-Size-160 {
  font-size: 160px;
}

FOIL-Font-Size-161 {
  font-size: 161px;
}

FOIL-Font-Size-162 {
  font-size: 162px;
}

FOIL-Font-Size-163 {
  font-size: 163px;
}

FOIL-Font-Size-164 {
  font-size: 164px;
}

FOIL-Font-Size-165 {
  font-size: 165px;
}

FOIL-Font-Size-166 {
  font-size: 166px;
}

FOIL-Font-Size-167 {
  font-size: 167px;
}

FOIL-Font-Size-168 {
  font-size: 168px;
}

FOIL-Font-Size-169 {
  font-size: 169px;
}

FOIL-Font-Size-170 {
  font-size: 170px;
}

FOIL-Font-Size-171 {
  font-size: 171px;
}

FOIL-Font-Size-172 {
  font-size: 172px;
}

FOIL-Font-Size-173 {
  font-size: 173px;
}

FOIL-Font-Size-174 {
  font-size: 174px;
}

FOIL-Font-Size-175 {
  font-size: 175px;
}

FOIL-Font-Size-176 {
  font-size: 176px;
}

FOIL-Font-Size-177 {
  font-size: 177px;
}

FOIL-Font-Size-178 {
  font-size: 178px;
}

FOIL-Font-Size-179 {
  font-size: 179px;
}

FOIL-Font-Size-180 {
  font-size: 180px;
}

FOIL-Font-Size-181 {
  font-size: 181px;
}

FOIL-Font-Size-182 {
  font-size: 182px;
}

FOIL-Font-Size-183 {
  font-size: 183px;
}

FOIL-Font-Size-184 {
  font-size: 184px;
}

FOIL-Font-Size-185 {
  font-size: 185px;
}

FOIL-Font-Size-186 {
  font-size: 186px;
}

FOIL-Font-Size-187 {
  font-size: 187px;
}

FOIL-Font-Size-188 {
  font-size: 187px;
}

FOIL-Font-Size-189 {
  font-size: 187px;
}

FOIL-Font-Size-190 {
  font-size: 187px;
}

FOIL-Font-Size-191 {
  font-size: 187px;
}

FOIL-Font-Size-192 {
  font-size: 187px;
}

FOIL-Font-Size-193 {
  font-size: 187px;
}

FOIL-Font-Size-194 {
  font-size: 187px;
}

FOIL-Font-Size-195 {
  font-size: 195px;
}

FOIL-Font-Size-196 {
  font-size: 196px;
}

FOIL-Font-Size-197 {
  font-size: 197px;
}

FOIL-Font-Size-198 {
  font-size: 198px;
}

FOIL-Font-Size-199 {
  font-size: 199px;
}

FOIL-Font-Size-200 {
  font-size: 200px;
}

FOIL-Font-Size-201 {
  font-size: 201px;
}

FOIL-Font-Size-202 {
  font-size: 202px;
}

FOIL-Font-Size-203 {
  font-size: 203px;
}

FOIL-Font-Size-204 {
  font-size: 204px;
}

FOIL-Font-Size-205 {
  font-size: 205px;
}

FOIL-Font-Size-206 {
  font-size: 206px;
}

FOIL-Font-Size-207 {
  font-size: 207px;
}

FOIL-Font-Size-208 {
  font-size: 208px;
}

FOIL-Font-Size-209 {
  font-size: 209px;
}

FOIL-Font-Size-210 {
  font-size: 210px;
}

FOIL-Font-Size-211 {
  font-size: 211px;
}

FOIL-Font-Size-212 {
  font-size: 212px;
}

FOIL-Font-Size-213 {
  font-size: 213px;
}

FOIL-Font-Size-214 {
  font-size: 214px;
}

FOIL-Font-Size-215 {
  font-size: 215px;
}

FOIL-Font-Size-216 {
  font-size: 216px;
}

FOIL-Font-Size-217 {
  font-size: 217px;
}

FOIL-Font-Size-218 {
  font-size: 218px;
}

FOIL-Font-Size-219 {
  font-size: 219px;
}

FOIL-Font-Size-220 {
  font-size: 220px;
}

FOIL-Font-Size-221 {
  font-size: 221px;
}

FOIL-Font-Size-222 {
  font-size: 222px;
}

FOIL-Font-Size-223 {
  font-size: 223px;
}

FOIL-Font-Size-224 {
  font-size: 224px;
}

FOIL-Font-Size-225 {
  font-size: 225px;
}

FOIL-Font-Size-226 {
  font-size: 226px;
}

FOIL-Font-Size-227 {
  font-size: 227px;
}

FOIL-Font-Size-228 {
  font-size: 228px;
}

FOIL-Font-Size-229 {
  font-size: 229px;
}

FOIL-Font-Size-230 {
  font-size: 230px;
}

FOIL-Font-Size-231 {
  font-size: 231px;
}

FOIL-Font-Size-232 {
  font-size: 232px;
}

FOIL-Font-Size-233 {
  font-size: 233px;
}

FOIL-Font-Size-235 {
  font-size: 234px;
}

FOIL-Font-Size-236 {
  font-size: 236px;
}

FOIL-Font-Size-237 {
  font-size: 237px;
}

FOIL-Font-Size-238 {
  font-size: 238px;
}

FOIL-Font-Size-239 {
  font-size: 239px;
}

FOIL-Font-Size-240 {
  font-size: 240px;
}

FOIL-Font-Size-241 {
  font-size: 241px;
}

FOIL-Font-Size-242 {
  font-size: 242px;
}

FOIL-Font-Size-243 {
  font-size: 243px;
}

FOIL-Font-Size-244 {
  font-size: 244px;
}

FOIL-Font-Size-245 {
  font-size: 245px;
}

FOIL-Font-Size-246 {
  font-size: 246px;
}

FOIL-Font-Size-247 {
  font-size: 247px;
}

FOIL-Font-Size-248 {
  font-size: 248px;
}

FOIL-Font-Size-249 {
  font-size: 250px;
}

FOIL-Font-Size-250 {
  font-size: 250px;
}

FOIL-Font-Size-251 {
  font-size: 251px;
}

FOIL-Font-Size-252 {
  font-size: 252px;
}

FOIL-Font-Size-253 {
  font-size: 253px;
}

FOIL-Font-Size-254 {
  font-size: 254px;
}

FOIL-Font-Size-255 {
  font-size: 255px;
}

FOIL-Font-Size-256 {
  font-size: 256px;
}

FOIL-Font-Size-257 {
  font-size: 257px;
}

FOIL-Font-Size-258 {
  font-size: 258px;
}

FOIL-Font-Size-259 {
  font-size: 259px;
}

FOIL-Font-Size-260 {
  font-size: 260px;
}

FOIL-Font-Size-261 {
  font-size: 261px;
}

FOIL-Font-Size-262 {
  font-size: 262px;
}

FOIL-Font-Size-263 {
  font-size: 263px;
}

FOIL-Font-Size-264 {
  font-size: 264px;
}

FOIL-Font-Size-265 {
  font-size: 265px;
}

FOIL-Font-Size-266 {
  font-size: 266px;
}

FOIL-Font-Size-267 {
  font-size: 267px;
}

FOIL-Font-Size-268 {
  font-size: 268px;
}

FOIL-Font-Size-269 {
  font-size: 269px;
}

FOIL-Font-Size-270 {
  font-size: 270px;
}

FOIL-Font-Size-271 {
  font-size: 271px;
}

FOIL-Font-Size-272 {
  font-size: 272px;
}

FOIL-Font-Size-273 {
  font-size: 273px;
}

FOIL-Font-Size-274 {
  font-size: 274px;
}

FOIL-Font-Size-275 {
  font-size: 275px;
}

FOIL-Font-Size-276 {
  font-size: 276px;
}

FOIL-Font-Size-277 {
  font-size: 277px;
}

FOIL-Font-Size-278 {
  font-size: 278px;
}

FOIL-Font-Size-279 {
  font-size: 279px;
}

FOIL-Font-Size-280 {
  font-size: 280px;
}

FOIL-Font-Size-281 {
  font-size: 281px;
}

FOIL-Font-Size-282 {
  font-size: 282px;
}

FOIL-Font-Size-283 {
  font-size: 283px;
}

FOIL-Font-Size-284 {
  font-size: 284px;
}

FOIL-Font-Size-285 {
  font-size: 285px;
}

FOIL-Font-Size-286 {
  font-size: 286px;
}

FOIL-Font-Size-287 {
  font-size: 287px;
}

FOIL-Font-Size-288 {
  font-size: 288px;
}

FOIL-Font-Size-289 {
  font-size: 289px;
}

FOIL-Font-Size-290 {
  font-size: 290px;
}

FOIL-Font-Size-291 {
  font-size: 291px;
}

FOIL-Font-Size-292 {
  font-size: 292px;
}

FOIL-Font-Size-293 {
  font-size: 293px;
}

FOIL-Font-Size-294 {
  font-size: 294px;
}

FOIL-Font-Size-295 {
  font-size: 295px;
}

FOIL-Font-Size-296 {
  font-size: 296px;
}

FOIL-Font-Size-297 {
  font-size: 297px;
}

FOIL-Font-Size-298 {
  font-size: 298px;
}

FOIL-Font-Size-299 {
  font-size: 299px;
}

FOIL-Font-Size-300 {
  font-size: 300px;
}

FOIL-Font-Size-301 {
  font-size: 301px;
}

FOIL-Font-Size-302 {
  font-size: 302px;
}

FOIL-Font-Size-303 {
  font-size: 303px;
}

FOIL-Font-Size-304 {
  font-size: 304px;
}

FOIL-Font-Size-305 {
  font-size: 305px;
}

FOIL-Font-Size-306 {
  font-size: 306px;
}

FOIL-Font-Size-307 {
  font-size: 307px;
}

FOIL-Font-Size-308 {
  font-size: 308px;
}

FOIL-Font-Size-309 {
  font-size: 309px;
}

FOIL-Font-Size-310 {
  font-size: 310px;
}

FOIL-Font-Size-311 {
  font-size: 311px;
}

FOIL-Font-Size-312 {
  font-size: 312px;
}

FOIL-Font-Size-313 {
  font-size: 313px;
}

FOIL-Font-Size-314 {
  font-size: 314px;
}

FOIL-Font-Size-315 {
  font-size: 315px;
}

FOIL-Font-Size-316 {
  font-size: 316px;
}

FOIL-Font-Size-317 {
  font-size: 317px;
}

FOIL-Font-Size-318 {
  font-size: 318px;
}

FOIL-Font-Size-319 {
  font-size: 319px;
}

FOIL-Font-Size-320 {
  font-size: 320px;
}

FOIL-Font-Size-321 {
  font-size: 321px;
}

FOIL-Font-Size-322 {
  font-size: 322px;
}

FOIL-Font-Size-323 {
  font-size: 323px;
}

FOIL-Font-Size-324 {
  font-size: 324px;
}

FOIL-Font-Size-325 {
  font-size: 326px;
}

FOIL-Font-Size-327 {
  font-size: 327px;
}

FOIL-Font-Size-328 {
  font-size: 328px;
}

FOIL-Font-Size-329 {
  font-size: 329px;
}

FOIL-Font-Size-330 {
  font-size: 330px;
}

FOIL-Font-Size-331 {
  font-size: 331px;
}

FOIL-Font-Size-332 {
  font-size: 332px;
}

FOIL-Font-Size-333 {
  font-size: 333px;
}

FOIL-Font-Size-334 {
  font-size: 334px;
}

FOIL-Font-Size-335 {
  font-size: 335px;
}

FOIL-Font-Size-336 {
  font-size: 336px;
}

FOIL-Font-Size-337 {
  font-size: 338px;
}

FOIL-Font-Size-339 {
  font-size: 339px;
}

FOIL-Font-Size-340 {
  font-size: 340px;
}

FOIL-Font-Size-341 {
  font-size: 341px;
}

FOIL-Font-Size-342 {
  font-size: 342px;
}

FOIL-Font-Size-343 {
  font-size: 343px;
}

FOIL-Font-Size-344 {
  font-size: 344px;
}

FOIL-Font-Size-345 {
  font-size: 345px;
}

FOIL-Font-Size-346 {
  font-size: 346px;
}

FOIL-Font-Size-347 {
  font-size: 347px;
}

FOIL-Font-Size-348 {
  font-size: 348px;
}

FOIL-Font-Size-349 {
  font-size: 349px;
}

FOIL-Font-Size-350 {
  font-size: 350px;
}

FOIL-Font-Size-351 {
  font-size: 351px;
}

FOIL-Font-Size-352 {
  font-size: 352px;
}

FOIL-Font-Size-353 {
  font-size: 353px;
}

FOIL-Font-Size-354 {
  font-size: 354px;
}

FOIL-Font-Size-355 {
  font-size: 355px;
}

FOIL-Font-Size-356 {
  font-size: 356px;
}

FOIL-Font-Size-357 {
  font-size: 357px;
}

FOIL-Font-Size-358 {
  font-size: 358px;
}

FOIL-Font-Size-359 {
  font-size: 359px;
}

FOIL-Font-Size-360 {
  font-size: 360px;
}

FOIL-Font-Size-361 {
  font-size: 361px;
}

FOIL-Font-Size-362 {
  font-size: 362px;
}

FOIL-Font-Size-363 {
  font-size: 363px;
}

FOIL-Font-Size-364 {
  font-size: 364px;
}

FOIL-Font-Size-365 {
  font-size: 365px;
}

FOIL-Font-Size-366 {
  font-size: 366px;
}

FOIL-Font-Size-367 {
  font-size: 367px;
}

FOIL-Font-Size-368 {
  font-size: 368px;
}

FOIL-Font-Size-369 {
  font-size: 369px;
}

FOIL-Font-Size-370 {
  font-size: 370px;
}

FOIL-Font-Size-371 {
  font-size: 371px;
}

FOIL-Font-Size-372 {
  font-size: 372px;
}

FOIL-Font-Size-373 {
  font-size: 374px;
}

FOIL-Font-Size-375 {
  font-size: 375px;
}

FOIL-Font-Size-376 {
  font-size: 376px;
}

FOIL-Font-Size-377 {
  font-size: 377px;
}

FOIL-Font-Size-378 {
  font-size: 378px;
}

FOIL-Font-Size-379 {
  font-size: 379px;
}

FOIL-Font-Size-380 {
  font-size: 380px;
}

FOIL-Font-Size-381 {
  font-size: 381px;
}

FOIL-Font-Size-382 {
  font-size: 382px;
}

FOIL-Font-Size-383 {
  font-size: 383px;
}

FOIL-Font-Size-384 {
  font-size: 384px;
}

FOIL-Font-Size-385 {
  font-size: 385px;
}

FOIL-Font-Size-386 {
  font-size: 386px;
}

FOIL-Font-Size-387 {
  font-size: 387px;
}

FOIL-Font-Size-388 {
  font-size: 388px;
}

FOIL-Font-Size-389 {
  font-size: 389px;
}

FOIL-Font-Size-390 {
  font-size: 390px;
}

FOIL-Font-Size-391 {
  font-size: 391px;
}

FOIL-Font-Size-392 {
  font-size: 392px;
}

FOIL-Font-Size-393 {
  font-size: 393px;
}

FOIL-Font-Size-394 {
  font-size: 394px;
}

FOIL-Font-Size-395 {
  font-size: 395px;
}

FOIL-Font-Size-396 {
  font-size: 396px;
}

FOIL-Font-Size-397 {
  font-size: 397px;
}

FOIL-Font-Size-398 {
  font-size: 398px;
}

FOIL-Font-Size-399 {
  font-size: 399px;
}

FOIL-Font-Size-400 {
  font-size: 400px;
}

FOIL-Font-Size-401 {
  font-size: 401px;
}

FOIL-Font-Size-402 {
  font-size: 402px;
}

FOIL-Font-Size-403 {
  font-size: 403px;
}

FOIL-Font-Size-404 {
  font-size: 404px;
}

FOIL-Font-Size-405 {
  font-size: 405px;
}

FOIL-Font-Size-406 {
  font-size: 406px;
}

FOIL-Font-Size-407 {
  font-size: 407px;
}

FOIL-Font-Size-408 {
  font-size: 408px;
}

FOIL-Font-Size-409 {
  font-size: 409px;
}

FOIL-Font-Size-409 {
  font-size: 409px;
}

FOIL-Font-Size-410 {
  font-size: 410px;
}

FOIL-Font-Size-411 {
  font-size: 411px;
}

FOIL-Font-Size-412 {
  font-size: 412px;
}

FOIL-Font-Size-413 {
  font-size: 413px;
}

FOIL-Font-Size-414 {
  font-size: 414px;
}

FOIL-Font-Size-415 {
  font-size: 415px;
}

FOIL-Font-Size-416 {
  font-size: 416px;
}

FOIL-Font-Size-417 {
  font-size: 417px;
}

FOIL-Font-Size-418 {
  font-size: 418px;
}

FOIL-Font-Size-419 {
  font-size: 419px;
}

FOIL-Font-Size-420 {
  font-size: 420px;
}

FOIL-Font-Size-421 {
  font-size: 421px;
}

FOIL-Font-Size-422 {
  font-size: 422px;
}

FOIL-Font-Size-423 {
  font-size: 423px;
}

FOIL-Font-Size-424 {
  font-size: 424px;
}

FOIL-Font-Size-425 {
  font-size: 425px;
}

FOIL-Font-Size-426 {
  font-size: 426px;
}

FOIL-Font-Size-427 {
  font-size: 427px;
}

FOIL-Font-Size-428 {
  font-size: 428px;
}

FOIL-Font-Size-429 {
  font-size: 429px;
}

FOIL-Font-Size-430 {
  font-size: 430px;
}

FOIL-Font-Size-431 {
  font-size: 431px;
}

FOIL-Font-Size-432 {
  font-size: 432px;
}

FOIL-Font-Size-433 {
  font-size: 433px;
}

FOIL-Font-Size-434 {
  font-size: 434px;
}

FOIL-Font-Size-435 {
  font-size: 435px;
}

FOIL-Font-Size-436 {
  font-size: 436px;
}

FOIL-Font-Size-437 {
  font-size: 437px;
}

FOIL-Font-Size-438 {
  font-size: 438px;
}

FOIL-Font-Size-439 {
  font-size: 439px;
}

FOIL-Font-Size-440 {
  font-size: 440px;
}

FOIL-Font-Size-441 {
  font-size: 441px;
}

FOIL-Font-Size-442 {
  font-size: 442px;
}

FOIL-Font-Size-443 {
  font-size: 443px;
}

FOIL-Font-Size-444 {
  font-size: 444px;
}

FOIL-Font-Size-445 {
  font-size: 445px;
}

FOIL-Font-Size-446 {
  font-size: 446px;
}

FOIL-Font-Size-447 {
  font-size: 447px;
}

FOIL-Font-Size-448 {
  font-size: 448px;
}

FOIL-Font-Size-449 {
  font-size: 449px;
}

FOIL-Font-Size-450 {
  font-size: 450px;
}

FOIL-Font-Size-451 {
  font-size: 451px;
}

FOIL-Font-Size-452 {
  font-size: 452px;
}

FOIL-Font-Size-453 {
  font-size: 453px;
}

FOIL-Font-Size-454 {
  font-size: 454px;
}

FOIL-Font-Size-455 {
  font-size: 455px;
}

FOIL-Font-Size-456 {
  font-size: 456px;
}

FOIL-Font-Size-457 {
  font-size: 457px;
}

FOIL-Font-Size-458 {
  font-size: 458px;
}

FOIL-Font-Size-459 {
  font-size: 459px;
}

FOIL-Font-Size-460 {
  font-size: 460px;
}

FOIL-Font-Size-461 {
  font-size: 461px;
}

FOIL-Font-Size-462 {
  font-size: 462px;
}

FOIL-Font-Size-463 {
  font-size: 463px;
}

FOIL-Font-Size-464 {
  font-size: 464px;
}

FOIL-Font-Size-465 {
  font-size: 465px;
}

FOIL-Font-Size-466 {
  font-size: 466px;
}

FOIL-Font-Size-467 {
  font-size: 467px;
}

FOIL-Font-Size-468 {
  font-size: 468px;
}

FOIL-Font-Size-469 {
  font-size: 469px;
}

FOIL-Font-Size-470 {
  font-size: 470px;
}

FOIL-Font-Size-471 {
  font-size: 471px;
}

FOIL-Font-Size-472 {
  font-size: 472px;
}

FOIL-Font-Size-473 {
  font-size: 473px;
}

FOIL-Font-Size-474 {
  font-size: 474px;
}

FOIL-Font-Size-475 {
  font-size: 475px;
}

FOIL-Font-Size-476 {
  font-size: 476px;
}

FOIL-Font-Size-477 {
  font-size: 477px;
}

FOIL-Font-Size-478 {
  font-size: 478px;
}

FOIL-Font-Size-479 {
  font-size: 479px;
}

FOIL-Font-Size-480 {
  font-size: 480px;
}

FOIL-Font-Size-481 {
  font-size: 481px;
}

FOIL-Font-Size-482 {
  font-size: 482px;
}

FOIL-Font-Size-483 {
  font-size: 483px;
}

FOIL-Font-Size-484 {
  font-size: 484px;
}

FOIL-Font-Size-485 {
  font-size: 485px;
}

FOIL-Font-Size-486 {
  font-size: 486px;
}

FOIL-Font-Size-487 {
  font-size: 487px;
}

FOIL-Font-Size-488 {
  font-size: 488px;
}

FOIL-Font-Size-489 {
  font-size: 489px;
}

FOIL-Font-Size-490 {
  font-size: 490px;
}

FOIL-Font-Size-491 {
  font-size: 491px;
}

FOIL-Font-Size-492 {
  font-size: 492px;
}

FOIL-Font-Size-493 {
  font-size: 493px;
}

FOIL-Font-Size-494 {
  font-size: 494px;
}

FOIL-Font-Size-495 {
  font-size: 495px;
}

FOIL-Font-Size-496 {
  font-size: 496px;
}

FOIL-Font-Size-497 {
  font-size: 497px;
}

FOIL-Font-Size-498 {
  font-size: 498px;
}

FOIL-Font-Size-499 {
  font-size: 499px;
}

FOIL-Font-Size-500 {
  font-size: 500px;
}

FOIL-Font-Size-501 {
  font-size: 501px;
}

FOIL-Font-Size-502 {
  font-size: 502px;
}

FOIL-Font-Size-503 {
  font-size: 503px;
}

FOIL-Font-Size-504 {
  font-size: 504px;
}

FOIL-Font-Size-505 {
  font-size: 505px;
}

FOIL-Font-Size-506 {
  font-size: 506px;
}

FOIL-Font-Size-507 {
  font-size: 507px;
}

FOIL-Font-Size-508 {
  font-size: 508px;
}

FOIL-Font-Size-509 {
  font-size: 509px;
}

FOIL-Font-Size-510 {
  font-size: 510px;
}

FOIL-Font-Size-511 {
  font-size: 511px;
}

FOIL-Font-Size-512 {
  font-size: 512px;
}

FOIL-Font-Size-513 {
  font-size: 513px;
}

FOIL-Font-Size-514 {
  font-size: 514px;
}

FOIL-Font-Size-515 {
  font-size: 515px;
}

FOIL-Font-Size-516 {
  font-size: 516px;
}

FOIL-Font-Size-517 {
  font-size: 517px;
}

FOIL-Font-Size-518 {
  font-size: 518px;
}

FOIL-Font-Size-519 {
  font-size: 519px;
}

FOIL-Font-Size-520 {
  font-size: 520px;
}

FOIL-Font-Size-521 {
  font-size: 521px;
}

FOIL-Font-Size-522 {
  font-size: 522px;
}

FOIL-Font-Size-523 {
  font-size: 523px;
}

FOIL-Font-Size-524 {
  font-size: 524px;
}

FOIL-Font-Size-525 {
  font-size: 525px;
}

FOIL-Font-Size-526 {
  font-size: 526px;
}

FOIL-Font-Size-527 {
  font-size: 527px;
}

FOIL-Font-Size-528 {
  font-size: 528px;
}

FOIL-Font-Size-529 {
  font-size: 529px;
}

FOIL-Font-Size-530 {
  font-size: 530px;
}

FOIL-Font-Size-531 {
  font-size: 531px;
}

FOIL-Font-Size-532 {
  font-size: 532px;
}

FOIL-Font-Size-533 {
  font-size: 533px;
}

FOIL-Font-Size-534 {
  font-size: 534px;
}

FOIL-Font-Size-535 {
  font-size: 535px;
}

FOIL-Font-Size-536 {
  font-size: 536px;
}

FOIL-Font-Size-537 {
  font-size: 537px;
}

FOIL-Font-Size-538 {
  font-size: 538px;
}

FOIL-Font-Size-539 {
  font-size: 539px;
}

FOIL-Font-Size-540 {
  font-size: 540px;
}

FOIL-Font-Size-541 {
  font-size: 541px;
}

FOIL-Font-Size-542 {
  font-size: 542px;
}

FOIL-Font-Size-543 {
  font-size: 543px;
}

FOIL-Font-Size-544 {
  font-size: 544px;
}

FOIL-Font-Size-545 {
  font-size: 545px;
}

FOIL-Font-Size-546 {
  font-size: 546px;
}

FOIL-Font-Size-547 {
  font-size: 547px;
}

FOIL-Font-Size-548 {
  font-size: 548px;
}

FOIL-Font-Size-549 {
  font-size: 549px;
}

FOIL-Font-Size-550 {
  font-size: 550px;
}

FOIL-Font-Size-551 {
  font-size: 551px;
}

FOIL-Font-Size-552 {
  font-size: 552px;
}

FOIL-Font-Size-553 {
  font-size: 553px;
}

FOIL-Font-Size-554 {
  font-size: 554px;
}

FOIL-Font-Size-555 {
  font-size: 555px;
}

FOIL-Font-Size-556 {
  font-size: 556px;
}

FOIL-Font-Size-557 {
  font-size: 557px;
}

FOIL-Font-Size-558 {
  font-size: 558px;
}

FOIL-Font-Size-559 {
  font-size: 559px;
}

FOIL-Font-Size-560 {
  font-size: 560px;
}

FOIL-Font-Size-561 {
  font-size: 561px;
}

FOIL-Font-Size-562 {
  font-size: 562px;
}

FOIL-Font-Size-563 {
  font-size: 563px;
}

FOIL-Font-Size-564 {
  font-size: 564px;
}

FOIL-Font-Size-565 {
  font-size: 565px;
}

FOIL-Font-Size-566 {
  font-size: 566px;
}

FOIL-Font-Size-567 {
  font-size: 567px;
}

FOIL-Font-Size-568 {
  font-size: 568px;
}

FOIL-Font-Size-569 {
  font-size: 569px;
}

FOIL-Font-Size-570 {
  font-size: 570px;
}

FOIL-Font-Size-571 {
  font-size: 571px;
}

FOIL-Font-Size-572 {
  font-size: 572px;
}

FOIL-Font-Size-573 {
  font-size: 573px;
}

FOIL-Font-Size-574 {
  font-size: 574px;
}

FOIL-Font-Size-574 {
  font-size: 575px;
}

FOIL-Font-Size-575 {
  font-size: 575px;
}

FOIL-Font-Size-576 {
  font-size: 576px;
}

FOIL-Font-Size-577 {
  font-size: 578px;
}

FOIL-Font-Size-578 {
  font-size: 578px;
}

FOIL-Font-Size-579 {
  font-size: 579px;
}

FOIL-Font-Size-580 {
  font-size: 580px;
}

FOIL-Font-Size-581 {
  font-size: 581px;
}

FOIL-Font-Size-582 {
  font-size: 583px;
}

FOIL-Font-Size-584 {
  font-size: 584px;
}

FOIL-Font-Size-585 {
  font-size: 585px;
}

FOIL-Font-Size-586 {
  font-size: 586px;
}

FOIL-Font-Size-587 {
  font-size: 587px;
}

FOIL-Font-Size-588 {
  font-size: 588px;
}

FOIL-Font-Size-589 {
  font-size: 589px;
}

FOIL-Font-Size-590 {
  font-size: 590px;
}

FOIL-Font-Size-591 {
  font-size: 591px;
}

FOIL-Font-Size-592 {
  font-size: 592px;
}

FOIL-Font-Size-593 {
  font-size: 593px;
}

FOIL-Font-Size-594 {
  font-size: 594px;
}

FOIL-Font-Size-595 {
  font-size: 595px;
}

FOIL-Font-Size-596 {
  font-size: 596px;
}

FOIL-Font-Size-597 {
  font-size: 597px;
}

FOIL-Font-Size-598 {
  font-size: 598px;
}

FOIL-Font-Size-599 {
  font-size: 599px;
}

FOIL-Font-Size-600 {
  font-size: 600px;
}

FOIL-Font-Size-601 {
  font-size: 601px;
}

FOIL-Font-Size-602 {
  font-size: 602px;
}

FOIL-Font-Size-603 {
  font-size: 603px;
}

FOIL-Font-Size-604 {
  font-size: 604px;
}

FOIL-Font-Size-605 {
  font-size: 605px;
}

FOIL-Font-Size-606 {
  font-size: 606px;
}

FOIL-Font-Size-607 {
  font-size: 607px;
}

FOIL-Font-Size-608 {
  font-size: 608px;
}

FOIL-Font-Size-609 {
  font-size: 609px;
}

FOIL-Font-Size-610 {
  font-size: 610px;
}

FOIL-Font-Size-611 {
  font-size: 611px;
}

FOIL-Font-Size-612 {
  font-size: 612px;
}

FOIL-Font-Size-613 {
  font-size: 613px;
}

FOIL-Font-Size-614 {
  font-size: 615px;
}

FOIL-Font-Size-617 {
  font-size: 616px;
}

FOIL-Font-Size-618 {
  font-size: 618px;
}

FOIL-Font-Size-619 {
  font-size: 619px;
}

FOIL-Font-Size-620 {
  font-size: 620px;
}

FOIL-Font-Size-621 {
  font-size: 621px;
}

FOIL-Font-Size-622 {
  font-size: 622px;
}

FOIL-Font-Size-623 {
  font-size: 623px;
}

FOIL-Font-Size-624 {
  font-size: 624px;
}

FOIL-Font-Size-625 {
  font-size: 625px;
}

FOIL-Font-Size-626 {
  font-size: 626px;
}

FOIL-Font-Size-627 {
  font-size: 627px;
}

FOIL-Font-Size-628 {
  font-size: 628px;
}

FOIL-Font-Size-629 {
  font-size: 629px;
}

FOIL-Font-Size-630 {
  font-size: 630px;
}

FOIL-Font-Size-631 {
  font-size: 631px;
}

FOIL-Font-Size-632 {
  font-size: 632px;
}

FOIL-Font-Size-633 {
  font-size: 633px;
}

FOIL-Font-Size-634 {
  font-size: 634px;
}

FOIL-Font-Size-635 {
  font-size: 635px;
}

FOIL-Font-Size-636 {
  font-size: 636px;
}

FOIL-Font-Size-637 {
  font-size: 637px;
}

FOIL-Font-Size-638 {
  font-size: 638px;
}

FOIL-Font-Size-639 {
  font-size: 639px;
}

FOIL-Font-Size-640 {
  font-size: 640px;
}

FOIL-Font-Size-641 {
  font-size: 641px;
}

FOIL-Font-Size-642 {
  font-size: 642px;
}

FOIL-Font-Size-643 {
  font-size: 643px;
}

FOIL-Font-Size-644 {
  font-size: 644px;
}

FOIL-Font-Size-645 {
  font-size: 645px;
}

FOIL-Font-Size-646 {
  font-size: 646px;
}

FOIL-Font-Size-647 {
  font-size: 647px;
}

FOIL-Font-Size-648 {
  font-size: 648px;
}

FOIL-Font-Size-649 {
  font-size: 649px;
}

FOIL-Font-Size-650 {
  font-size: 650px;
}

FOIL-Font-Size-651 {
  font-size: 651px;
}

FOIL-Font-Size-652 {
  font-size: 652px;
}

FOIL-Font-Size-653 {
  font-size: 653px;
}

FOIL-Font-Size-654 {
  font-size: 654px;
}

FOIL-Font-Size-655 {
  font-size: 655px;
}

FOIL-Font-Size-656 {
  font-size: 656px;
}

FOIL-Font-Size-657 {
  font-size: 657px;
}

FOIL-Font-Size-658 {
  font-size: 658px;
}

FOIL-Font-Size-659 {
  font-size: 659px;
}

FOIL-Font-Size-660 {
  font-size: 660px;
}

FOIL-Font-Size-661 {
  font-size: 661px;
}

FOIL-Font-Size-662 {
  font-size: 662px;
}

FOIL-Font-Size-663 {
  font-size: 663px;
}

FOIL-Font-Size-664 {
  font-size: 664px;
}

FOIL-Font-Size-665 {
  font-size: 665px;
}

FOIL-Font-Size-666 {
  font-size: 666px;
}

FOIL-Font-Size-667 {
  font-size: 667px;
}

FOIL-Font-Size-668 {
  font-size: 668px;
}

FOIL-Font-Size-669 {
  font-size: 669px;
}

FOIL-Font-Size-670 {
  font-size: 670px;
}

FOIL-Font-Size-671 {
  font-size: 671px;
}

FOIL-Font-Size-672 {
  font-size: 672px;
}

FOIL-Font-Size-673 {
  font-size: 673px;
}

FOIL-Font-Size-674 {
  font-size: 674px;
}

FOIL-Font-Size-675 {
  font-size: 675px;
}

FOIL-Font-Size-676 {
  font-size: 676px;
}

FOIL-Font-Size-677 {
  font-size: 677px;
}

FOIL-Font-Size-678 {
  font-size: 678px;
}

FOIL-Font-Size-679 {
  font-size: 679px;
}

FOIL-Font-Size-680 {
  font-size: 680px;
}

FOIL-Font-Size-681 {
  font-size: 681px;
}

FOIL-Font-Size-682 {
  font-size: 682px;
}

FOIL-Font-Size-683 {
  font-size: 683px;
}

FOIL-Font-Size-684 {
  font-size: 684px;
}

FOIL-Font-Size-685 {
  font-size: 685px;
}

FOIL-Font-Size-686 {
  font-size: 686px;
}

FOIL-Font-Size-687 {
  font-size: 687px;
}

FOIL-Font-Size-688 {
  font-size: 688px;
}

FOIL-Font-Size-689 {
  font-size: 689px;
}

FOIL-Font-Size-690 {
  font-size: 690px;
}

FOIL-Font-Size-691 {
  font-size: 691px;
}

FOIL-Font-Size-692 {
  font-size: 692px;
}

FOIL-Font-Size-693 {
  font-size: 693px;
}

FOIL-Font-Size-694 {
  font-size: 694px;
}

FOIL-Font-Size-695 {
  font-size: 695px;
}

FOIL-Font-Size-696 {
  font-size: 696px;
}

FOIL-Font-Size-697 {
  font-size: 697px;
}

FOIL-Font-Size-698 {
  font-size: 698px;
}

FOIL-Font-Size-699 {
  font-size: 699px;
}

FOIL-Font-Size-700 {
  font-size: 700px;
}

FOIL-Font-Size-701 {
  font-size: 701px;
}

FOIL-Font-Size-702 {
  font-size: 702px;
}

FOIL-Font-Size-703 {
  font-size: 703px;
}

FOIL-Font-Size-704 {
  font-size: 704px;
}

FOIL-Font-Size-705 {
  font-size: 705px;
}

FOIL-Font-Size-706 {
  font-size: 706px;
}

FOIL-Font-Size-707 {
  font-size: 707px;
}

FOIL-Font-Size-708 {
  font-size: 708px;
}

FOIL-Font-Size-709 {
  font-size: 709px;
}

FOIL-Font-Size-710 {
  font-size: 710px;
}

FOIL-Font-Size-711 {
  font-size: 711px;
}

FOIL-Font-Size-712 {
  font-size: 712px;
}

FOIL-Font-Size-713 {
  font-size: 713px;
}

FOIL-Font-Size-714 {
  font-size: 714px;
}

FOIL-Font-Size-715 {
  font-size: 715px;
}

FOIL-Font-Size-716 {
  font-size: 716px;
}

FOIL-Font-Size-717 {
  font-size: 717px;
}

FOIL-Font-Size-718 {
  font-size: 718px;
}

FOIL-Font-Size-719 {
  font-size: 719px;
}

FOIL-Font-Size-720 {
  font-size: 720px;
}

FOIL-Font-Size-721 {
  font-size: 721px;
}

FOIL-Font-Size-722 {
  font-size: 722px;
}

FOIL-Font-Size-723 {
  font-size: 723px;
}

FOIL-Font-Size-724 {
  font-size: 724px;
}

FOIL-Font-Size-725 {
  font-size: 725px;
}

FOIL-Font-Size-726 {
  font-size: 726px;
}

FOIL-Font-Size-727 {
  font-size: 727px;
}

FOIL-Font-Size-728 {
  font-size: 728px;
}

FOIL-Font-Size-729 {
  font-size: 729px;
}

FOIL-Font-Size-730 {
  font-size: 730px;
}

FOIL-Font-Size-731 {
  font-size: 731px;
}

FOIL-Font-Size-732 {
  font-size: 732px;
}

FOIL-Font-Size-734 {
  font-size: 734px;
}

FOIL-Font-Size-735 {
  font-size: 735px;
}

FOIL-Font-Size-736 {
  font-size: 736px;
}

FOIL-Font-Size-737 {
  font-size: 737px;
}

FOIL-Font-Size-738 {
  font-size: 738px;
}

FOIL-Font-Size-739 {
  font-size: 739px;
}

FOIL-Font-Size-740 {
  font-size: 740px;
}

FOIL-Font-Size-741 {
  font-size: 741px;
}

FOIL-Font-Size-742 {
  font-size: 742px;
}

FOIL-Font-Size-743 {
  font-size: 743px;
}

FOIL-Font-Size-744 {
  font-size: 744px;
}

FOIL-Font-Size-745 {
  font-size: 745px;
}

FOIL-Font-Size-746 {
  font-size: 746px;
}

FOIL-Font-Size-747 {
  font-size: 747px;
}

FOIL-Font-Size-748 {
  font-size: 748px;
}

FOIL-Font-Size-749 {
  font-size: 749px;
}

FOIL-Font-Size-750 {
  font-size: 750px;
}

FOIL-Font-Size-751 {
  font-size: 751px;
}

FOIL-Font-Size-752 {
  font-size: 752px;
}

FOIL-Font-Size-753 {
  font-size: 753px;
}

FOIL-Font-Size-754 {
  font-size: 754px;
}

FOIL-Font-Size-755 {
  font-size: 755px;
}

FOIL-Font-Size-756 {
  font-size: 756px;
}

FOIL-Font-Size-757 {
  font-size: 757px;
}

FOIL-Font-Size-758 {
  font-size: 758px;
}

FOIL-Font-Size-759 {
  font-size: 759px;
}

FOIL-Font-Size-760 {
  font-size: 760px;
}

FOIL-Font-Size-761 {
  font-size: 761px;
}

FOIL-Font-Size-762 {
  font-size: 762px;
}

FOIL-Font-Size-763 {
  font-size: 763px;
}

FOIL-Font-Size-764 {
  font-size: 764px;
}

FOIL-Font-Size-765 {
  font-size: 765px;
}

FOIL-Font-Size-766 {
  font-size: 766px;
}

FOIL-Font-Size-767 {
  font-size: 767px;
}

FOIL-Font-Size-768 {
  font-size: 768px;
}

FOIL-Font-Size-769 {
  font-size: 769px;
}

FOIL-Font-Size-770 {
  font-size: 770px;
}

FOIL-Font-Size-771 {
  font-size: 771px;
}

FOIL-Font-Size-772 {
  font-size: 772px;
}

FOIL-Font-Size-773 {
  font-size: 773px;
}

FOIL-Font-Size-774 {
  font-size: 774px;
}

FOIL-Font-Size-775 {
  font-size: 775px;
}

FOIL-Font-Size-776 {
  font-size: 776px;
}

FOIL-Font-Size-777 {
  font-size: 777px;
}

FOIL-Font-Size-778 {
  font-size: 778px;
}

FOIL-Font-Size-779 {
  font-size: 779px;
}

FOIL-Font-Size-780 {
  font-size: 780px;
}

FOIL-Font-Size-781 {
  font-size: 781px;
}

FOIL-Font-Size-782 {
  font-size: 782px;
}

FOIL-Font-Size-783 {
  font-size: 783px;
}

FOIL-Font-Size-784 {
  font-size: 784px;
}

FOIL-Font-Size-785 {
  font-size: 785px;
}

FOIL-Font-Size-786 {
  font-size: 786px;
}

FOIL-Font-Size-787 {
  font-size: 787px;
}

FOIL-Font-Size-788 {
  font-size: 788px;
}

FOIL-Font-Size-789 {
  font-size: 789px;
}

FOIL-Font-Size-790 {
  font-size: 790px;
}

FOIL-Font-Size-791 {
  font-size: 791px;
}

FOIL-Font-Size-792 {
  font-size: 792px;
}

FOIL-Font-Size-793 {
  font-size: 793px;
}

FOIL-Font-Size-794 {
  font-size: 794px;
}

FOIL-Font-Size-795 {
  font-size: 795px;
}

FOIL-Font-Size-796 {
  font-size: 796px;
}

FOIL-Font-Size-797 {
  font-size: 797px;
}

FOIL-Font-Size-798 {
  font-size: 798px;
}

FOIL-Font-Size-799 {
  font-size: 799px;
}

FOIL-Font-Size-800 {
  font-size: 800px;
}

FOIL-Font-Size-801 {
  font-size: 801px;
}

FOIL-Font-Size-802 {
  font-size: 802px;
}

FOIL-Font-Size-803 {
  font-size: 803px;
}

FOIL-Font-Size-804 {
  font-size: 804px;
}

FOIL-Font-Size-805 {
  font-size: 805px;
}

FOIL-Font-Size-806 {
  font-size: 806px;
}

FOIL-Font-Size-807 {
  font-size: 807px;
}

FOIL-Font-Size-808 {
  font-size: 808px;
}

FOIL-Font-Size-809 {
  font-size: 809px;
}

FOIL-Font-Size-810 {
  font-size: 810px;
}

FOIL-Font-Size-811 {
  font-size: 811px;
}

FOIL-Font-Size-812 {
  font-size: 812px;
}

FOIL-Font-Size-813 {
  font-size: 813px;
}

FOIL-Font-Size-814 {
  font-size: 814px;
}

FOIL-Font-Size-815 {
  font-size: 815px;
}

FOIL-Font-Size-816 {
  font-size: 816px;
}

FOIL-Font-Size-817 {
  font-size: 817px;
}

FOIL-Font-Size-818 {
  font-size: 818px;
}

FOIL-Font-Size-819 {
  font-size: 819px;
}

FOIL-Font-Size-820 {
  font-size: 820px;
}

FOIL-Font-Size-821 {
  font-size: 821px;
}

FOIL-Font-Size-822 {
  font-size: 822px;
}

FOIL-Font-Size-823 {
  font-size: 823px;
}

FOIL-Font-Size-824 {
  font-size: 824px;
}

FOIL-Font-Size-825 {
  font-size: 825px;
}

FOIL-Font-Size-826 {
  font-size: 826px;
}

FOIL-Font-Size-827 {
  font-size: 827px;
}

FOIL-Font-Size-828 {
  font-size: 828px;
}

FOIL-Font-Size-829 {
  font-size: 829px;
}

FOIL-Font-Size-830 {
  font-size: 830px;
}

FOIL-Font-Size-831 {
  font-size: 831px;
}

FOIL-Font-Size-832 {
  font-size: 832px;
}

FOIL-Font-Size-833 {
  font-size: 833px;
}

FOIL-Font-Size-834 {
  font-size: 834px;
}

FOIL-Font-Size-835 {
  font-size: 835px;
}

FOIL-Font-Size-836 {
  font-size: 836px;
}

FOIL-Font-Size-837 {
  font-size: 837px;
}

FOIL-Font-Size-838 {
  font-size: 839px;
}

FOIL-Font-Size-840 {
  font-size: 840px;
}

FOIL-Font-Size-840 {
  font-size: 840px;
}

FOIL-Font-Size-841 {
  font-size: 841px;
}

FOIL-Font-Size-842 {
  font-size: 842px;
}

FOIL-Font-Size-843 {
  font-size: 843px;
}

FOIL-Font-Size-844 {
  font-size: 844px;
}

FOIL-Font-Size-845 {
  font-size: 845px;
}

FOIL-Font-Size-846 {
  font-size: 846px;
}

FOIL-Font-Size-847 {
  font-size: 847px;
}

FOIL-Font-Size-848 {
  font-size: 848px;
}

FOIL-Font-Size-849 {
  font-size: 849px;
}

FOIL-Font-Size-850 {
  font-size: 850px;
}

FOIL-Font-Size-851 {
  font-size: 851px;
}

FOIL-Font-Size-852 {
  font-size: 852px;
}

FOIL-Font-Size-853 {
  font-size: 853px;
}

FOIL-Font-Size-854 {
  font-size: 854px;
}

FOIL-Font-Size-855 {
  font-size: 855px;
}

FOIL-Font-Size-856 {
  font-size: 856px;
}

FOIL-Font-Size-857 {
  font-size: 857px;
}

FOIL-Font-Size-858 {
  font-size: 858px;
}

FOIL-Font-Size-859 {
  font-size: 859px;
}

FOIL-Font-Size-860 {
  font-size: 860px;
}

FOIL-Font-Size-861 {
  font-size: 861px;
}

FOIL-Font-Size-862 {
  font-size: 862px;
}

FOIL-Font-Size-863 {
  font-size: 863px;
}

FOIL-Font-Size-864 {
  font-size: 864px;
}

FOIL-Font-Size-865 {
  font-size: 865px;
}

FOIL-Font-Size-866 {
  font-size: 866px;
}

FOIL-Font-Size-867 {
  font-size: 867px;
}

FOIL-Font-Size-868 {
  font-size: 868px;
}

FOIL-Font-Size-869 {
  font-size: 869px;
}

FOIL-Font-Size-870 {
  font-size: 870px;
}

FOIL-Font-Size-871 {
  font-size: 871px;
}

FOIL-Font-Size-872 {
  font-size: 872px;
}

FOIL-Font-Size-873 {
  font-size: 873px;
}

FOIL-Font-Size-874 {
  font-size: 874px;
}

FOIL-Font-Size-875 {
  font-size: 875px;
}

FOIL-Font-Size-876 {
  font-size: 876px;
}

FOIL-Font-Size-877 {
  font-size: 877px;
}

FOIL-Font-Size-878 {
  font-size: 878px;
}

FOIL-Font-Size-879 {
  font-size: 879px;
}

FOIL-Font-Size-880 {
  font-size: 880px;
}

FOIL-Font-Size-881 {
  font-size: 881px;
}

FOIL-Font-Size-882 {
  font-size: 882px;
}

FOIL-Font-Size-883 {
  font-size: 883px;
}

FOIL-Font-Size-884 {
  font-size: 884px;
}

FOIL-Font-Size-885 {
  font-size: 885px;
}

FOIL-Font-Size-886 {
  font-size: 886px;
}

FOIL-Font-Size-887 {
  font-size: 887px;
}

FOIL-Font-Size-888 {
  font-size: 888px;
}

FOIL-Font-Size-889 {
  font-size: 889px;
}

FOIL-Font-Size-890 {
  font-size: 890px;
}

FOIL-Font-Size-891 {
  font-size: 891px;
}

FOIL-Font-Size-892 {
  font-size: 892px;
}

FOIL-Font-Size-893 {
  font-size: 893px;
}

FOIL-Font-Size-894 {
  font-size: 894px;
}

FOIL-Font-Size-895 {
  font-size: 895px;
}

FOIL-Font-Size-896 {
  font-size: 896px;
}

FOIL-Font-Size-897 {
  font-size: 897px;
}

FOIL-Font-Size-898 {
  font-size: 898px;
}

FOIL-Font-Size-899 {
  font-size: 899px;
}

FOIL-Font-Size-900 {
  font-size: 900px;
}

FOIL-Font-Size-901 {
  font-size: 901px;
}

FOIL-Font-Size-902 {
  font-size: 902px;
}

FOIL-Font-Size-903 {
  font-size: 903px;
}

FOIL-Font-Size-904 {
  font-size: 904px;
}

FOIL-Font-Size-905 {
  font-size: 905px;
}

FOIL-Font-Size-906 {
  font-size: 906px;
}

FOIL-Font-Size-907 {
  font-size: 907px;
}

FOIL-Font-Size-908 {
  font-size: 908px;
}

FOIL-Font-Size-909 {
  font-size: 909px;
}

FOIL-Font-Size-910 {
  font-size: 910px;
}

FOIL-Font-Size-911 {
  font-size: 911px;
}

FOIL-Font-Size-912 {
  font-size: 912px;
}

FOIL-Font-Size-913 {
  font-size: 913px;
}

FOIL-Font-Size-914 {
  font-size: 914px;
}

FOIL-Font-Size-915 {
  font-size: 915px;
}

FOIL-Font-Size-916 {
  font-size: 916px;
}

FOIL-Font-Size-917 {
  font-size: 917px;
}

FOIL-Font-Size-918 {
  font-size: 918px;
}

FOIL-Font-Size-919 {
  font-size: 919px;
}

FOIL-Font-Size-920 {
  font-size: 920px;
}

FOIL-Font-Size-921 {
  font-size: 921px;
}

FOIL-Font-Size-922 {
  font-size: 922px;
}

FOIL-Font-Size-923 {
  font-size: 923px;
}

FOIL-Font-Size-924 {
  font-size: 924px;
}

FOIL-Font-Size-925 {
  font-size: 925px;
}

FOIL-Font-Size-926 {
  font-size: 926px;
}

FOIL-Font-Size-927 {
  font-size: 927px;
}

FOIL-Font-Size-928 {
  font-size: 928px;
}

FOIL-Font-Size-929 {
  font-size: 929px;
}

FOIL-Font-Size-930 {
  font-size: 930px;
}

FOIL-Font-Size-931 {
  font-size: 931px;
}

FOIL-Font-Size-932 {
  font-size: 932px;
}

FOIL-Font-Size-933 {
  font-size: 933px;
}

FOIL-Font-Size-934 {
  font-size: 934px;
}

FOIL-Font-Size-935 {
  font-size: 935px;
}

FOIL-Font-Size-936 {
  font-size: 936px;
}

FOIL-Font-Size-937 {
  font-size: 937px;
}

FOIL-Font-Size-938 {
  font-size: 938px;
}

FOIL-Font-Size-939 {
  font-size: 939px;
}

FOIL-Font-Size-940 {
  font-size: 940px;
}

FOIL-Font-Size-941 {
  font-size: 941px;
}

FOIL-Font-Size-942 {
  font-size: 942px;
}

FOIL-Font-Size-943 {
  font-size: 943px;
}

FOIL-Font-Size-944 {
  font-size: 944px;
}

FOIL-Font-Size-945 {
  font-size: 945px;
}

FOIL-Font-Size-946 {
  font-size: 946px;
}

FOIL-Font-Size-947 {
  font-size: 947px;
}

FOIL-Font-Size-948 {
  font-size: 948px;
}

FOIL-Font-Size-949 {
  font-size: 949px;
}

FOIL-Font-Size-950 {
  font-size: 950px;
}

FOIL-Font-Size-951 {
  font-size: 951px;
}

FOIL-Font-Size-952 {
  font-size: 952px;
}

FOIL-Font-Size-953 {
  font-size: 953px;
}

FOIL-Font-Size-954 {
  font-size: 954px;
}

FOIL-Font-Size-955 {
  font-size: 955px;
}

FOIL-Font-Size-956 {
  font-size: 956px;
}

FOIL-Font-Size-957 {
  font-size: 957px;
}

FOIL-Font-Size-958 {
  font-size: 958px;
}

FOIL-Font-Size-959 {
  font-size: 959px;
}

FOIL-Font-Size-960 {
  font-size: 960px;
}

FOIL-Font-Size-961 {
  font-size: 961px;
}

FOIL-Font-Size-962 {
  font-size: 962px;
}

FOIL-Font-Size-963 {
  font-size: 963px;
}

FOIL-Font-Size-964 {
  font-size: 964px;
}

FOIL-Font-Size-965 {
  font-size: 965px;
}

FOIL-Font-Size-966 {
  font-size: 966px;
}

FOIL-Font-Size-967 {
  font-size: 967px;
}

FOIL-Font-Size-968 {
  font-size: 968px;
}

FOIL-Font-Size-969 {
  font-size: 969px;
}

FOIL-Font-Size-970 {
  font-size: 970px;
}

FOIL-Font-Size-971 {
  font-size: 971px;
}

FOIL-Font-Size-972 {
  font-size: 972px;
}

FOIL-Font-Size-973 {
  font-size: 973px;
}

FOIL-Font-Size-974 {
  font-size: 974px;
}

FOIL-Font-Size-975 {
  font-size: 975px;
}

FOIL-Font-Size-976 {
  font-size: 976px;
}

FOIL-Font-Size-977 {
  font-size: 977px;
}

FOIL-Font-Size-978 {
  font-size: 978px;
}

FOIL-Font-Size-979 {
  font-size: 979px;
}

FOIL-Font-Size-980 {
  font-size: 980px;
}

FOIL-Font-Size-981 {
  font-size: 981px;
}

FOIL-Font-Size-982 {
  font-size: 982px;
}

FOIL-Font-Size-983 {
  font-size: 983px;
}

FOIL-Font-Size-984 {
  font-size: 984px;
}

FOIL-Font-Size-985 {
  font-size: 985px;
}

FOIL-Font-Size-986 {
  font-size: 986px;
}

FOIL-Font-Size-987 {
  font-size: 987px;
}

FOIL-Font-Size-988 {
  font-size: 988px;
}

FOIL-Font-Size-989 {
  font-size: 989px;
}

FOIL-Font-Size-990 {
  font-size: 990px;
}

FOIL-Font-Size-991 {
  font-size: 991px;
}

FOIL-Font-Size-992 {
  font-size: 992px;
}

FOIL-Font-Size-993 {
  font-size: 993px;
}

FOIL-Font-Size-994 {
  font-size: 994px;
}

FOIL-Font-Size-995 {
  font-size: 995px;
}

FOIL-Font-Size-996 {
  font-size: 996px;
}

FOIL-Font-Size-997 {
  font-size: 997px;
}

FOIL-Font-Size-998 {
  font-size: 998px;
}

FOIL-Font-Size-999 {
  font-size: 999px;
}

FOIL-Font-Size-1000 {
  font-size: 1000px;
}

