<link rel="stylesheet" href="static/globals.css" type="text/css">

<div class="subjects-top-bar">
    Subjects
</div>



<!-- This is where the middle content goes to-->
<div class="subjects-middle-bar">
    <div class="subjects-middle-bar-content">

    
        <div class="subjects-middle-bar-content-header-4">
            Independent Skills
        </div>

        <div class="subjects-middle-bar-content-regular">
            <div class="subjects-widgets-button-container">

                <div class="subjects-widgets-button" onclick="location.href=''">
                    
                </div>
            
            </div>
        
        </div>


        <div class="subjects-middle-bar-subjects-menu-split"></div>

        <!--------------------------------------------------------------->
        <div class="subjects-middle-bar-content-header-4">
            Academic Skills
        </div>

        <div class="subjects-middle-bar-content-regular">

        </div>


        <div class="subjects-middle-bar-subjects-menu-split"></div>

        <!--------------------------------------------------------------->
        <div class="subjects-middle-bar-content-header-4">
            Financial Skills
        </div>

        <div class="subjects-middle-bar-content-regular">

        </div>
        <!--------------------------------------------------------------->

        <div class="subjects-middle-bar-subjects-menu-split"></div>
        
        <!--------------------------------------------------------------->
        <div class="subjects-middle-bar-content-header-4">
            Work Skills
        </div>

        <div class="subjects-middle-bar-content-regular">

        </div>
        <!--------------------------------------------------------------->


    </div>
</div>


<!-- This is where other things go to -->
<div class="subjects-bottom-bar">
    <div class="subjects-bottom-bar-content">
        <div class="subjects-bottom-bar-content-left">
            12:50
        </div>
        <div class="subjects-bottom-bar-content-middle">
            hello world
        </div>
    </div>
</div>