.button {
        font-size: 17px;
        padding: 16px 32px;
        margin: 20px;
        color: #ffffff;
        background: rgba(53, 53, 53, 0.2);
        border: none;
        border-radius: 30px;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        transition: all 0.3s ease;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
        background: rgba(83, 83, 83, 0.3);
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.button:active {
        background: rgba(103, 103, 103, 0.4);
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
