.osui-button {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), linear-gradient(to bottom, #2E0069, #4a00ac);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.osui-button-small {
  border: none;
  padding: 9px 14px;
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 5px 0px #333333;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s; }

.osui-button-small:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 0px #ffffff; }
.status-bar {
  padding: 3px 16px;
  display: grid;
  grid-template-columns: repeat(2, 10fr) repeat(3, 1fr);
  align-items: center;
  transition-duration: 0.5s; }

.status-bar-button {
  background-color: #1b1b1b;
  text-decoration: none;
  color: white;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #363636;
  margin-right: 100px; }

.status-bar-button:hover {
  transition-duration: 0.5s;
  background-color: green; }

.status-bar-left-column {
  display: flex;
  justify-content: flex-start; }

.status-bar-right-column {
  display: flex;
  justify-content: flex-end; }

.status-item {
  font-size: 16px;
  margin-right: 10px; }
