/**
---------------------------------------------------------------------------
WIDGET BUTTONS
Search: widget buttons
---------------------------------------------------------------------------

**/

.subjects-widgets-button-container {display: flex; gap: 20px;}

.subjects-widgets-button {
    text-decoration: none;
    border-style: none;
    margin-top: -20px;
    width: 20px;    
    color: white; 
    font-size: 20px;
    border-radius: 10px;
    padding: 16px 200px;
    transition-duration: 0.2s;
    height: 300px;
}

.subjects-widgets-button.color-1 {background-color: rgb(18, 255, 200); color:black;}
.subjects-widgets-button.color-2 {background-color: rgb(208, 255, 18); color:black;}
.subjects-widgets-button.color-3 {background-color: #a0d2eb; color:black;}
.subjects-widgets-button.color-4 {background-color: #e5eaf5; color:black;}
.subjects-widgets-button.color-5 {background-color: #8458B3; color:black;}
.subjects-widgets-button.color-6 {background-color: #a28089; color:black;}

.subjects-widgets-button:hover {
    background-color: orange;
    color: black;   
}


/**
---------------------------------------------------------------------------
WIDGET BUTTONS/
Search: widget buttons/text headers
---------------------------------------------------------------------------

**/

.subjects-widgets-button-text-header-1{margin-bottom: 100px; margin-left: -180px; font-size: 40px;}
.subjects-widgets-button-text-regular-1{width: 350px; margin-left: -180px;}