<link rel="stylesheet" href="static/CLASSIC-CSS/FOIL-UI.css" type="text/css">
<link rel="stylesheet" href="static/CLASSIC-CSS/UI.css" type="text/css">
<link rel="stylesheet" href="static/CLASSIC-CSS/position-text.css" type="text/css">
<link rel="stylesheet" href="static/CLASSIC-CSS/index.css" type="text/css">


<!-- Refreshes automatically-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Schedule Display -->
<!-- 
   To Import Png files containing Scheduling, 
   Screenshot the file, then save the screenshot as Schedule-*Period*.png
Created and Maintained by Senal Bulumulle


-->

<div class="get-no-layout-indicator-side-round">
    <a href="/" class="button-no-animate-small">Back</a>
</div>
<script language="JavaScript">
    document.write("");
    /* Leave this one blank */
    /* Global Variables for the text */


    var text = new Date();
    var texthr = text.getHours();       
    if (texthr >= 7 && texthr<= 9){
        document.write("<div class=''")
    }

     if (texthr >= 12 && texthr<= 17) {
     
    } if (texthr >= 15 && texthr<= 18) {
        document.write("<div class=''layout.indicator-side-round'><fontsize10>  <center><fontsize60Todays Agenta</center> </fontsize60></div>");
    }
        

</script>

<center>
<ul> </ul>
<meta name="viewport" content="width=device-width, initial-scale=1"
<div class="layout">
<script language="JavaScript">
            document.write("");
                 /* Leave this one blank */
                  
                  var day = new Date();
                  var hr = day.getHours();
                  if (hr >= 7 && hr < 8) {
                  document.write("<img src='Period.png'");
                  } else if (hr >= 8 && hr <= 10) {
                  document.write("<img src='Period2.png' height='799vh' width='1433vh'>");
                  } else if (hr >= 10 && hr <= 11){
                  document.write("<img src='Period4.png' height='599vh' width='1000vh' alt='OHHH NO :-( The Paricular Message shows this error'>");
                  } else if (hr >= 11 && hr <= 12){
                  document.write("<img src='Period4.png' height='599vh' width='1000vh' alt='OHHH NO :-( The Paricular Message shows this error' ");
                  }
                  document.write("");
</script>
</meta>


</center>
</head>




<style>
body {
    background-color: black;
}
</style>