/************************************************************************
 *      config.css
 *
 ************************************************************************/
@import url('../../FOIL-UI.css');

body {
        background-color: rgb(0, 0, 0);
        color: white;
}

.FOIL-navigation-bar-regular {
        background-color: rgb(0, 0, 0);
        color: white;
}

.FOIL-button-regular-no-shadow {
        background-color: transparent;;
        color: white;
        border-radius: 20px;
        transition-duration: 0.5s;
}

.FOIL-button-regular-no-shadow:hover {
        background-color: rgb(46, 40, 30);
        color: white;
        padding: 50px 50px 50px 50px;
        border-radius: 20px;
        transition-duration: 0.5s;
}


.FOIL-button-regular-no-shadow:active {
        background-color: rgb(255, 0, 0);
        color: white;
        padding: 50px 50px 500px 50px;
        border-radius: 20px;
        transition-duration: 1s;
}

.FOIL-layout-regular-no-shadow {
        background-color: rgb(59, 71, 56);
        border-radius: 10px 10px 20px 30px;
        color: rgb(114, 114, 114);
        padding: 200px 200px 200px 200px;
        transition-duration: 1s;
}



.FOIL-layout-regular-no-shadow:hover {
        background-color: black;
        color: white;
        padding: 200px 200px 200px 200px;
        border-radius: 100px;
        transition-duration: 0.5s;

}