/************************************************************************
 *      config.css
 *
 ************************************************************************/
@import url('../../FOIL-UI.css');

body {
        background-color: rgb(0, 0, 0);
        color: white;
}

.FOIL-navigation-bar-regular {
        color: white;
}

.FOIL-button-regular-no-shadow {
        background-color: transparent;
        color: white;
        border-radius: 20px;
        transition-duration: 0.5s;
}

.FOIL-button-regular-no-shadow:hover {
        color: white;
        padding: 50px 50px 50px 50px;
        border-radius: 20px;
        transition-duration: 0.5s;
}


.FOIL-button-regular-no-shadow:active {
        color: white;
        padding: 50px 50px 500px 50px;
        border-radius: 20px;
        transition-duration: 1s;
}

.FOIL-layout-regular-no-shadow {
        transition-duration: 0.5s;
        color: white;
        transform-origin: center center;
}

.FOIL-layout-regular-no-shadow:hover {
        color: white;
        margin-bottom: 100px;
        border-radius: 100px;
        transition-duration: 0.5s;
        transform: scale(1.2);
}