.activate {
  position: fixed;
  visibility: hidden; }

.activate:target {
  visibility: visible;
  opacity: 1; }

.bar {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center; }
.osui-button {
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  margin-right: 20px;
  background-color: #3b3b3b;
  box-shadow: 0px 5px 0px #333333;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s; }

.osui-button:hover {
  box-shadow: 0px 20px 0px #ffffff; }

.osui-button:active {
  box-shadow: 0px 70px 0px #08b34f; }

.osui-button-small {
  border: none;
  padding: 9px 14px;
  font-size: 18px;
  color: white;
  background-color: #3b3b3b;
  box-shadow: 0px 5px 0px #333333;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s; }

.osui-button-small:hover {
  box-shadow: 0px 20px 0px #ffffff; }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
  background: #2e0069;
  color: white; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 1px; }

body {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
  display: inline-flexbox; }
.status-bar {
  padding: 3px 16px;
  display: grid;
  grid-template-columns: repeat(2, 10fr) repeat(3, 1fr);
  align-items: center;
  transition-duration: 0.5s; }

.status-bar-button {
  background-color: #1b1b1b;
  text-decoration: none;
  color: white;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #363636;
  margin-right: 100px; }

.status-bar-button:hover {
  transition-duration: 0.5s;
  background-color: green; }

.status-bar-left-column {
  display: flex;
  justify-content: flex-start; }

.status-bar-right-column {
  display: flex;
  justify-content: flex-end; }

.status-item {
  font-size: 16px;
  margin-right: 10px; }
