.activate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 1;
  z-index: 9999;
  /* set a high value for z-index */ }

.activate:target {
  visibility: visible;
  opacity: 1; }

.controls {
  margin: 2px auto;
  padding: 200px;
  backdrop-filter: blur(10px);
  background-color: rgba(39, 39, 39, 0.4);
  background-position: right;
  border-radius: 5px;
  width: auto;
  position: center;
  color: white; }

.controls .close {
  position: absolute;
  top: 20px;
  background-color: red;
  right: 30px;
  font-size: 58px;
  font-weight: 500;
  text-decoration: none;
  color: red;
  transition-duration: 0.2s; }

.controlsclose {
  position: absolute;
  top: 20px;
  /*  */
  right: 30px;
  font-size: 58px;
  font-weight: 500;
  text-decoration: none;
  color: red; }

.controls .content {
  max-height: 30%;
  width: 30%;
  overflow: auto; }

.controls-no-blur {
  margin: 2px auto;
  padding: 200px;
  backdrop-filter: blur(10px);
  background-color: rgba(39, 39, 39, 0.4);
  background-position: right;
  border-radius: 5px;
  width: auto;
  position: center;
  color: white; }

.controls-no-blur .close {
  position: absolute;
  top: 20px;
  background-color: red;
  right: 30px;
  font-size: 58px;
  font-weight: 500;
  text-decoration: none;
  color: red;
  transition-duration: 0.2s; }

.controls-no-blurclose {
  position: absolute;
  top: 20px;
  /*  */
  right: 30px;
  font-size: 58px;
  font-weight: 500;
  text-decoration: none;
  color: red; }

.controls-no-blur .content {
  max-height: 30%;
  width: 30%;
  overflow: auto; }
.bottom-navigation {
  bottom: 0;
  padding: 3px 16px;
  left: 0;
  height: 70px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px; }

.bottom-navigation-content {
  flex: 1; }
.osui-button {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)), linear-gradient(to bottom, #2E0069, #4a00ac);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.osui-button-small {
  border: none;
  padding: 9px 14px;
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 5px 0px #333333;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s; }

.osui-button-small:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 0px #ffffff; }
.clock-mode-time {
  background-color: rgba(20, 20, 20, 0.111);
  border-radius: 30px;
  color: white;
  text-align: center;
  font-size: 200px;
  margin-top: -77px;
  transition-duration: 0.9;
  font-weight: 20; }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
  background: #444444;
  color: white; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 1px;
  perspective: 1px; }

body {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
  display: inline-flexbox; }
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border-radius: 10px; }

.grid-item {
  backdrop-filter: blur(10px);
  background-color: rgba(49, 49, 49, 0.4);
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px; }
.status-bar {
  padding: 3px 16px;
  display: grid;
  grid-template-columns: repeat(2, 10fr) repeat(3, 1fr);
  align-items: center;
  transition-duration: 0.5s; }

.status-bar-button {
  background-color: #1b1b1b;
  text-decoration: none;
  color: white;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #363636;
  margin-right: 100px; }

.status-bar-button:hover {
  transition-duration: 0.5s;
  background-color: green; }

.status-bar-left-column {
  display: flex;
  justify-content: flex-start; }

.status-bar-right-column {
  display: flex;
  justify-content: flex-end; }

.status-item {
  font-size: 16px;
  margin-right: 10px; }
.user-profile-grid {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 4rem;
  width: 4rem; }

.user-profile-picture {
  height: 50%;
  width: 50%; }
.widget-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px; }

.widget-left {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
  width: 300px; }

.widget-left:hover {
  box-shadow: 0 0 20px white;
  transform: scale(1.2);
  width: 900px;
  font-size: 30px; }
