 /*
  ____              _  _    _          ____             _ 
 / ___|  _ __ ___  (_)| |_ | |__      |  _ \  __ _   __| |
 \___ \ | '_ ` _ \ | || __|| '_ \     | |_) |/ _` | / _` |
  ___) || | | | | || || |_ | | | |    |  __/| (_| || (_| |
 |____/ |_| |_| |_||_| \__||_| |_|    |_|    \__,_| \__,_| UI

 Now called OSUI Framework. Classic Smith-Pad UI Framework
 for the Smith-Pad Web Interface but now modern with 
 latest components for OSUI. Mixing in with FOIL-UI


 */
 
body {
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                        margin: 0;
                                                                        overflow-y: auto;
                                                                        overflow-x: hidden;
                                                                        -webkit-perspective: 1px;
                                                                        perspective: 1px;
                                                                        background: #363636;
                                                                        color: white;
}



.status-bar {
                                                                        padding: 3px 16px;
                                                                        display: grid;
                                                                        grid-template-columns: repeat(2, 10fr) repeat(3, 1fr);
                                                                        align-items: center;
                                                                        transition-duration: 0.5s;

}



.status-bar-button {
                                                                        background-color: #1b1b1b;
                                                                        text-decoration: none;
                                                                        color: white;
                                                                        border-style: none;
                                                                        padding: 10px;
                                                                        border-radius: 10px;
                                                                        box-shadow:  20px 20px 60px #1d1d1d, -20px -20px 60px #363636;
                                                                        margin-right: 100px;
}

.status-bar-button:hover {
                                                                        transition-duration: 0.5s;
                                                                        background-color: green;
}

.status-bar-left-column {
                                                                        display: flex;
                                                                        justify-content: flex-start;
}

.status-bar-right-column {
                                                                        display: flex;
                                                                        justify-content: flex-end;
}

.status-item {
                                                                        font-size: 16px;
                                                                        margin-right: 10px;
}



/*****************************************************************************************************
 *                                     OSUI Experimental Buttons
 *****************************************************************************************************/
 .osui-button-small {
        border: none;
        padding: 9px 14px;
        font-size: 18px;
        color: white;
        background-color: #3b3b3b;
        box-shadow: 0px 5px 0px #333333;
        border-radius: 8px;
        cursor: pointer;
        text-decoration:none;
        transition-duration: 0.2s;
}

/**
* @doc
*
* When the user hovers over the small button, then the user will be presented with the duplicated
* element 20 pixels down with the white color indicating that they are hovering on the 
* button.  
*
*/

.osui-button-small:hover {
        box-shadow: 0px 20px 0px #ffffff;
}



/**
* @doc
*
* When the user clicks or taps on the small button, then the user will be presented with the 
* duplicated element 80 pixels down with the green color indicating that they are clicking
* or tapping on the button. 
*/


.osui-button-small:active {
        box-shadow: 0px 70px 0px #08b34f;
}



.osui-button {
                                                                        border: none;
                                                                        padding: 12px 24px;
                                                                        font-size: 18px;
                                                                        color: white;
                                                                        background-color: #3b3b3b;
                                                                        box-shadow: 0px 5px 0px #333333;
                                                                        border-radius: 8px;
                                                                        cursor: pointer;
                                                                        text-decoration:none;
                                                                        transition-duration: 0.2s;
}

/**
 * @doc
 *
 * When the user hovers over the button, then the user will be presented with the duplicated
 * element 20 pixels down with the white color indicating that they are hovering on the 
 * button.  
 *
 */

.osui-button:hover {
                                                                        box-shadow: 0px 20px 0px #ffffff;
}



/**
 * @doc
 *
 * When the user clicks or taps on the button, then the user will be presented with the 
 * duplicated element 80 pixels down with the green color indicating that they are clicking
 * or tapping on the button. 
 */


.osui-button:active {
                                                                        box-shadow: 0px 70px 0px #08b34f;
}





 /** Home Icon **/

 .osui-circle-button-home-icon {
                                                                        border-radius: 50%;
                                                                        width: 50px;
                                                                        height: 50px;
                                                                        background-color: #3b3b3b;
                                                                        color: white;
                                                                        border: none;
                                                                        text-align: center;
                                                                        font-size: 16px;
                                                                        cursor: pointer;
                                                                        position: relative;
}


.osui-circle-button-home-icon::after {
                                                                        content: "☖";
                                                                        position: absolute;
                                                                        top: 50%;
                                                                        left: 50%;
                                                                        transform: translate(-50%, -50%);
                                                                        font-size: 24px;
}




.osui-circle-button-home-icon:active {
                                                                        box-shadow: 0px 20px 0px #ffffff;
}


/** Left Arrow **/

 .osui-circle-button-left-arrow {
                                                                        border-radius: 50%;
                                                                        width: 50px;
                                                                        height: 50px;
                                                                        background-color: #3b3b3b;
                                                                        color: white;
                                                                        border: none;
                                                                        text-align: center;
                                                                        font-size: 16px;
                                                                        cursor: pointer;
                                                                        position: relative;
}

.osui-circle-button-left-arrow::after {
                                                                        content: "←";
                                                                        position: absolute;
                                                                        top: 50%;
                                                                        left: 50%;
                                                                        transform: translate(-50%, -50%);
                                                                        font-size: 24px;
}






 /** Right Arrow  **/
.osui-circle-button-right-arrow {
                                                                        border-radius: 50%;
                                                                        width: 50px;
                                                                        height: 50px;
                                                                        background-color: #3b3b3b;
                                                                        color: white;
                                                                        border: none;
                                                                        text-align: center;
                                                                        font-size: 16px;
                                                                        cursor: pointer;
                                                                        position: relative;
}

.osui-circle-button-right-arrow::after {
                                                                        content: "→";
                                                                        position: absolute;
                                                                        top: 50%;
                                                                        left: 50%;
                                                                        transform: translate(-50%, -50%);
                                                                        font-size: 24px;
}



/*****************************************************************************************************
 *                                     FOIL-UI-Components       
 *****************************************************************************************************/

.FOIL-navigation-bar-regular {
                                                                        background-color: transparent;
}

.FOIL-button-regular-no-shadow {
                                                                        border-radius: 10px;
                                                                        margin-right: 100px;
                                                                        padding: 15px 85px 15px 85px;
                                                                        background-color: #3b3b3b;
                                                                        box-shadow:  20px 20px 60px #1d1d1d, -20px -20px 60px #363636;
}

.FOIL-button-regular-no-shadow:hover {
                                                                        border-radius: 10px;
                                                                        margin-right: 100px;
                                                                        padding: 15px 85px 15px 85px;
                                                                        background: rgb(247, 149, 2);
                                                                        color: rgb(0, 0, 0);
                                                                        font-size: 16px;
                                                                        box-shadow:  200px 200px 600px #9080b6, -200px -200px 600px #8272ac;
}


.FOIL-button-regular-no-shadow:active {
                                                                        padding: 50px 50px 500px 50px;
                                                                        border-radius: 20px;
                                                                        transition-duration: 1s;
}

.FOIL-layout-regular-no-shadow {
                                                                        background-color: #242424;
                                                                        transition-duration: 0.5s;
                                                                        transform-origin: center center;
}


                                        FOIL-font-size-40{color: white;}
