<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/FOIL-UI.css" type="text/css">
        <link rel="stylesheet" href="static/config.css" type="text/css">
        <link rel="stylesheet" href="static/UI.css" type="text/css">
        <link rel="stylesheet" href="static/position-text.css" type="text/css">

</head>

<body>
        <div class="FOIL-font-styles sans-serif">
                <div class="status-bar">
                        <div class="status-bar-left-column">
                                <div class="status-item"><div id="time_service"></div><script src="static/FOIL-time.js"></script></div>
                                <div class="status-item"><div class="status-item"><a href="#" class="status-bar-button">Back</a></div></div>
                        </div>
                        <div class="status-bar-right-column">
                                <div class="status-item"><form action="/home_screen_volume_rocker_up" method="post"><button type="submit" class="status-bar-button">Volume Up</button></form></div>

                                <div class="status-item"><form action="/home_screen_volume_rocker_down" method="post"><button type="submit" class="status-bar-button">Volume Down</button></form></div>

                                <div class="status-item"><form action="/home_screen_volume_rocker_mute" method="post"><button type="submit" class="status-bar-button">Volume Mute</button></form></div>
                        </div>
                </div>
        </div>


        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>


        
        <div class="FOIL-layout-regular-no-shadow">
                <FOIL-font-size-60>
                        <div id="time_service"></div>
                </FOIL-font-size-60>


                <script src="static/FOIL-time.js"></script>
                <FOIL-font-size-40> Apps Menu </FOIL-font-size-40>
        </div>
</body>

</html>
