<link rel="stylesheet" href="static/CSS/FOIL-UI.css" type="text/css">
<link rel="stylesheet" href="static/CSS/UI.css" type="text/css">
<link rel="stylesheet" href="static/CSS/position-text.css" type="text/css">
<link rel="stylesheet" href="static/CSS/index.css" type="text/css">



<div style="padding: 1px 1em; border-radius: 30px; background-color:rgb(53, 53, 53); font-size: 2em;">
    <h1> Smith-Pad<h1>
</div>

<div style="margin-top: 300px; zoom: 200%; background-color: rgb(44, 44, 44); font-weight: 100;">
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <h1 style="font-size: 70px; font-weight: 100; padding: 16px 32px;"> Menu </h1>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <button class="FOIL-button-regular-no-shadow">Settings</button>
    <button class="FOIL-button-regular-no-shadow">Schedule Display</button>
    <button class="FOIL-button-regular-no-shadow">Math Operations</button>
    <button class="FOIL-button-regular-no-shadow">Subjects</button>
    <button class="FOIL-button-regular-no-shadow">Clock Mode</button>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
</div>