<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/FOIL-UI.css" type="text/css">
        <link rel="stylesheet" href="static/position-text.css" type="text/css">
        <link rel="stylesheet" href="static/UI-new.css" type="text/css">
        <link rel="stylesheet" href="static/FOIL-Bar.css" type="text/css">

</head>

<body>
        <div class="FOIL-font-styles sans-serif">
                <div class="status-bar">
                        <div class="status-bar-left-column">
                                <div class="status-item">
                                        <div id="time_service"></div>
                                        <script src="static/FOIL-time.js"></script>
                                </div>
                        </div>
                        <div class="status-bar-right-column">
                                
                        </div>
                </div>
                <div class="FOIL-navigation-bar-regular">
                        <h1> Smith Pad </h1>
                </div>

                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>

                <div class="FOIL-layout-regular-no-shadow">
                        <FOIL-font-size-60>
                                <div id="time_service"></div>
                        </FOIL-font-size-60>


                        <script src="static/FOIL-time.js"></script>
                        <FOIL-font-size-40> Menu </FOIL-font-size-40>
                        <ul></ul>
                        <p align="center">

                                <!-- When the user presses the apps button, it will proceed to go to the apps launcher-->
                                <a href="{{ url_for('apps_screen') }}"
                                        class="FOIL-button-regular-no-shadow">{{apps_button}}</a>

                                <!-- When the user presses the settings button, then it will proceed to go to the settings view-->
                                <a href="{{ url_for('settings_screen') }}"
                                        class="FOIL-button-regular-no-shadow">{{settings_button}}</a>


                                <!-- When the user presses the subjects button, then it will proceed to go to the subjects view -->
                                <a href="#" class="FOIL-button-regular-no-shadow">{{subjects_button}}</a>
                        </p>
                </div>



                <div id="settings" class="activate">
                        <div class="settings">
                                <h1>Settings </h1>

                                <a class="settingsclose" href="#">&times;</a>


                                <h4> Power Options</h4>
                                <a href="./Power/reboot.php"
                                        class="button-no-animate-mode button curve button small button orange">Restart</a>



                                <a href="./Power/shutdown.php"
                                        class="button-no-animate-mode button curve button small button orange">Shutdown</a>
                                <h4> Software Update </h4>

                                <a href="./Update-Tool/index.php"
                                        class="button-no-animate-mode button curve button small button orange">Update
                                        Smith Pad</a>


                                <div class="space"></div>
                                <div class="space"></div>

                                <div class="space"></div>
                        </div>

                </div>
        </div>
        </div>
</body>

</html>