<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% include 'System_Files/system_global_include-ui.html' %}

</head>

<body>
        <div class="FOIL-font-styles sans-serif">
                {% include 'System_Files/system_ui_status_bar.html' %}
                {% include 'System_Files/system_ui_global_smithpad_logo_text_main_screen.html' %}
                {% include 'System_Files/system_ui_global_middle_center__title_parameter--[Menu].html' %}

                <div class="space10"></div>



                {% include 'System_Files/system_ui_time_service.html' %}


                {% include 'System_Files/system_ui_control_center.html' %}


                {% include 'System_Files/system_ui_home_screen_banner.html' %}
                
                {% include 'System_Files/system_ui_home_screen_buttons_grid.html' %}
        </div>
        </div>
</body>

</html>
