<!-- Global Include -->
{% include 'System_Files/system.global.ui.include.ui.html' %}
{% include 'System_Files/system.global.ui.include.statusbar.html' %}
{% include 'System_Files/system.global.ui.include.controlcenter.html' %}



<!-- Make sure you use System_Files/system.<name>.ui.include.<blah blah> -->




<!-- Bottom Navigation -->

<div class="bottom-navigation">
        <div class="bottom-navigation-content">
                <a href="#" class="osui-button">WiFi</a>
                <a href="#" class="osui-button">Bluetooth</a>
                <a href="#" class="osui-button">TTY Mode</a>
                <a href="" class="osui-button">Back</a>
        </div>
</div>

<div class="widget-grid">
        <div class="widget-left">
                <div class="widget-left-inner-content">
                        <center>
                                <h4>WI-FI Detail:</h4> 
                                {{wifi_name}}
                        </center>
                </div>
        </div>
        <div class="widget-left">
                <div class="widget-left-inner-content">Content for Widget 2</div>
        </div>
        <div class="widget">
                <div class="widget-left-inner-content">Content for Widget 3</div>
        </div>
</div>

</content>
