<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="static/FOIL-UI.css" type="text/css">
        <link rel="stylesheet" href="static/position-text.css" type="text/css"> 
        <link rel="stylesheet" href="static/UI-new.css" type="text/css">
        <link rel="stylesheet" href="static/FOIL-Bar.css" type="text/css">


</head>

<body>
        <div class="FOIL-font-styles sans-serif">
                <div class="status-bar">

                </div>


                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>




                <div class="FOIL-layout-regular-no-shadow">
                        <FOIL-font-size-60>
                                <div id="time_service"></div>
                        </FOIL-font-size-60>


                        <script src="static/FOIL-time.js"></script>
                        <FOIL-font-size-40> Software Update </FOIL-font-size-40>
                        <p align="center">
                        <pre>{{ software_update_service_output }}</pre>

                        <center> <button class="FOIL-button-regular-no-shadow"></button></center>
                        </p>
                </div>
</body>

</html>