<!-- Global Include -->
{% include './System_Files/Global/system.global.ui.include.ui.html' %}
{% include './System_Files/Global/system.global.ui.include.statusbar.html' %}
{% include './System_Files/Global/system.global.ui.include.controlcenter.html' %}

<!-- Make sure you use System_Files/system.<name>.ui.include.<blah blah> -->




<!-- Bottom Navigation -->


<div class="bottom-navigation" style="zoom: 200%;">
    <a href="#wifi" class="FOIL-button-regular-no-shadow">WiFi</a>
    <a href="#bluetooth" class="FOIL-button-regular-no-shadow">Bluetooth</a>
    <a href="#ttymode" class="FOIL-button-regular-no-shadow">TTY Mode</a>
    <a href="#softwareupdate" class="FOIL-button-regular-no-shadow">Software Update</a>
    <a href="/" class="FOIL-button-regular-no-shadow">Back</a>
</div>