<!-- 
        Control-Center UI
-->

<div class="status-item">
        <a href="#controls" class="status-bar-button">Controls</a>
</div>

<div id="controls" class="activate">
        <div class="controls">
                <h1>Controls </h1>

                <a class="controlsclose" href="#">&times;</a>


                <h4> -</h4>
                <h4> - </h4>


                <div class="space"></div>
                <div class="space"></div>

                <div class="space"></div>
        </div>

</div>