<link rel="stylesheet" href="static/device-css/lesson-1920x1080.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">



<div class="subjects-lesson-ux-top-bar">
    <div class="subjects-lesson-ux-top-bar-content">
        Sample
    </div>

</div>



<!-- This is where the middle content goes to-->
<div class="subjects-lesson-ux-middle-bar">
    <div class="subjects-lesson-ux-middle-bar-content">
        <div class="subjects-lesson-ux-game-menu-header-title">
            Sample Lesson
        </div>

  
        <div class="subjects-lesson-ux-game-menu-widget-button-container">
            <div class="subjects-lesson-ux-game-menu-widget-button color-2"
                onclick="window.location.href='{{ url_for('sample_lesson__introduction') }}';">
                <div class="subjects-lesson-ux-game-menu-widget-button-text-header-1">
                    Yes
                </div>
                <div class="subjects-lesson-ux-game-menu-widget-button-text-regular-1">
                    This sample is an sample.
                </div>
            </div>


            <div class="subjects-lesson-ux-game-menu-widget-button color-3"
                onclick="window.location.href='{{ url_for('main_menu') }}';">
                <div class="subjects-lesson-ux-game-menu-widget-button-text-header-1">
                    Back
                </div>
                <div class="subjects-lesson-ux-game-menu-widget-button-text-regular-1">
                    When tapping back, this will go back to the subjects menu.
                </div>
            </div>

        </div>


    </div>
</div>

