<link rel="stylesheet" href="static/globals.css" type="text/css">
<link rel="stylesheet" href="static/lesson.css" type="text/css">
<link rel="stylesheet" href="static/media-queries.css" type="text/css">




<!-- CSS customizer -->

<div class="subjects-lesson-ux-top-bar">
    <div class="subjects-top-bar-content">
          Sample
    </div>
  
</div>



<!-- This is where the middle content goes to-->
<div class="subjects-lesson-ux-middle-bar">
    <div class="subjects-lesson-ux-middle-bar-content">
            <div class="subjects-lesson-ux-game-menu-header-title">
                Sample Lesson
            </div>
            
            <div class="subjects-middle-bar-content-regular">
                <div class="subjects-lesson-ux-game-menu-widget-button-container">
    
                    <div class="subjects-lesson-ux-game-menu-widget-button color-2" onclick="window.location.href='{{ url_for('sample_lesson__introduction') }}';">
                        <div class="subjects-lesson-ux-game-menu-widget-button-text-header-1">
                            Yes
                        </div>
                        <div class="subjects-lesson-ux-game-menu-widget-button-text-regular-1">
                            This sample is an sample. 
                        </div>
                    </div>
                    

                    <div class="subjects-lesson-ux-game-menu-widget-button color-3" onclick="window.location.href='{{ url_for('main_menu') }}';">
                        <div class="subjects-lesson-ux-game-menu-widget-button-text-header-1">
                            Back
                        </div>
                        <div class="subjects-lesson-ux-game-menu-widget-button-text-regular-1">
                            When tapping back, this will go back to the subjects menu. 
                        </div>
                    </div>
    
                </div>
    
            </div>
    

    </div>
</div>


<!-- This is where other things go to -->
<div class="subjects-bottom-bar">
    <div class="subjects-bottom-bar-content">
        <div class="subjects-bottom-bar-content-left">
            12:50
        </div>
        <div class="subjects-bottom-bar-content-middle">
            hello world
        </div>
    </div>
</div>
