<link rel="stylesheet" href="static/globals.css" type="text/css">
<link rel="stylesheet" href="static/lesson.css" type="text/css">
<link rel="stylesheet" href="static/media-queries.css" type="text/css">


<div class="subjects-lesson-ux-top-bar">
    <div class="subjects-lesson-ux-top-bar-content">
        Introduction
    </div>
</div>



<!-- This is where the middle content goes to-->
<div class="subjects-lesson-ux-middle-bar">
    <div class="subjects-lesson-ux-middle-bar-content">
        <!-- <div class="subjects-middle-bar-content-regular"> -->
            <div class="subjects-lesson-ux-introduction-view-header-title">
                Welcome to the Lesson. 
            </div>
            <div class="subjects-lesson-ux-introduction-view-regular-content-text-1">
                This lesson is blah blah blah blah blah blah blah blah blah blah.
                This lesson is blah blah blah blah blah blah blah blah blah blah.
                This lesson is blah blah blah blah blah blah blah blah blah blah.
                Are you ready? 
        </div>
    </div>
</div>


<!-- This is where other things go to -->
<div class="subjects-bottom-bar">
    <div class="subjects-bottom-bar-content">
        <div class="subjects-bottom-bar-content-left">
            12:50
        </div>
        <div class="subjects-bottom-bar-content-middle">
            
        </div>
    </div>
</div>