/* Background CSS */

:root {
  --main-color: linear-gradient(12deg, #0069e0, #141e30);
  --main-color-2:linear-gradient(12deg, #070608, #518b8a);
  --main-color-3:linear-gradient(12deg, #220e1f, #518b8a);
  --main-color-4:linear-gradient(12deg, black,#e33e46, #7a5de6);
  --main-color-5:linear-gradient(12deg, black, #957d30, #661d60);
  --main-color-6: linear-gradient(12deg,black, #b346eb, #05f668);
  --main-color-7:linear-gradient(12deg, black, #d53369 0%, #daae51 );
  --main-color-8:linear-gradient(12deg, black, #0700b8 0%, #00ff88 );
  --main-color-9: linear-gradient(12deg, black, #fcff9e 0%, #c67700);
  --main-color-10:linear-gradient(12deg,black, #485c11, #2dcb96);
  --main-color-11:linear-gradient(12deg, #000000, #434343); 
  --main-color-12:linear-gradient(12deg, color, color, color )
  --main-color-13:linear-gradient(to right, #71B280, #134E5E); 
  --main-color-14:linear-gradient(to top, #603813, #b29f94);
  --main-color-15:linear-gradient(to bottom, #1d4350, #a43931);
  --main-color-16:linear-gradient(to bottom, rgb(220, 92, 0), rgb(0, 0, 0));
  --main-color-17:linear-gradient(to top, rgb(118, 103, 0), rgb(144, 55, 0));
  

  /* Images */

}