/* FOIL BAR UI */
@import './transition.css';
@import './background.css';


body,html{ 
animation-name:top;
animation-duration:2s;
color:white;

}







.bar {
 overflow: hidden;
 background-color: transparent;
 position: fixed;
 top: 0;
 width: 100%;

}


.bar a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 animation-name:slidethree;
 animation-duration:3s;
 transition-duration: 0.2s;
}



.bar a:active {
 background: rgb(4, 145, 58);
 color: white;
 font-size:80px;
 border-radius: 10px;
}



.indicator.is-off{
background-color:transparent;
animation-name:indicatoranimate;
animation-duration:2s;
}

.button{

  border-radius:9px;
  animation-name:slidefour;
  animation-duration:2s;
  transition-duration:0.2s;

}
.button:hover{
  background-color:white;
  color:black;
  padding:90px 70px;
  
}
.button:active{
  background-color:rgb(0, 179, 0);
  color:white;
  font-size:30px;

}