<link rel="stylesheet" href="static/original-ux/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/lesson.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/globals.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">

<style>
  body {
    overflow: none;
    /* Turns off Scrolling :hidden */
    color: white;
    background: #37474F;
    background: var(--main-color-19);
  }

  /* Custom */
  boxer {
    padding: 16px 32px;
    background-color: white;
    color: black;

  }
</style>

<div class="bar">
  <a href="/sample_lesson_original_ux_port__introduction" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
  <a href="#" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
  <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>

</div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="indicator is-off button-no-animate-mode">
  <fontsize70>?</fontsize70>
  <ul></ul>
  <h1>????? </h1>
  <ul></ul>

  <ul></ul>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <center>
    <a href="/sample_lesson_original_ux_port__page1" class="button">Ready to do this? </a>
  </center>

</div>