{% include './System_Files/Lesson/system.lesson.ui.include.ui.html' %}
{% include './System_Files/Global/system.global.ui.include.statusbar.html' %}

<style>
  body {
    overflow: none;
    /* Turns off Scrolling :hidden */
    color: white;
    background: #37474F;
    background: var(--main-color-19);
  }

  /* Custom */
  boxer {
    padding: 16px 32px;
    background-color: white;
    color: black;

  }
</style>

<div class="bar">
  <a href="/sample_lesson_original_ux_port__introduction" class="button small button is-red button-no-animate-mode">Back &#8656;</a>
  <a href="/sample_lesson_original_ux_port__page2" class="button small button is-red button-no-animate-mode">Next &rArr;</a>
  <a href="#" class="button"onClick="Calculator=window.open( '../../../../../Smith-Pad/APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>

</div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>

<div class="indicator is-off button-no-animate-mode">
  <fontsize70>?</fontsize70>
  <ul></ul>
  <h1>????? </h1>
  <ul></ul>

  <ul></ul>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>


  <center>
    <a href="/sample_lesson_original_ux_port__page1" class="button">Ready to do this? </a>
  </center>

</div>