<link rel="stylesheet" href="static/original-ux/UI.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/layouts.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/index.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/position-text.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/original-ux/background.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/lesson.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">
<link rel="stylesheet" href="static/globals.css" media="screen and (min-width: 1080px) and (max-height: 1920px)">

<style>
    @import './background.css';
  
    body {
      overflow: none;
  
      color: white;
      background: var(--main-color);
    }
  </style>
  <div class="bar">
  
    <a href="/main_menu" class="button small button is-red button-no-animate-mode">Home &#9750;</a>
    <a href="/sample_lesson_original_ux_port__introduction" class="button small button is-red button-no-animate-mode">Next &rArr; </a>
    <a href="#" class="button"onClick="Calculator=window.open( '../../../../APPS/calculator.html','Calculator', 'width=600,height=1000'); return false;">Launch Calculator</a>
  
    
  </div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="indicator is-off">
    <fontsize50>
      <p align="center">Game Menu </p>
    </fontsize50>
  
  </div>

  <div class="space"></div>
  
  <div class="indicator is-off center-center">
    <a href="/sample_lesson_original_ux_port__introduction" class="button small button is-red button-no-animate-mode">Start</a>
    <a href="/main_menu" class="button small button is-red button-no-animate-mode">Back</a>
  </div>
  </div>
  
  <ul></ul>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="space"></div>
  
  </div>