<link rel="stylesheet" href="static/CSS/settings.css" type="text/css">


<body class="settings-about-screen-wallpaper">

        <div class="settings-main-screen">
                <div class="settings-main-screen-title">
                        <pre>About</pre>
                </div>
                <button class="settings-button" onclick="location.href='/settings'">Back</button>


                <pre style="font-family: monospace; font-size: 1.1em; margin-top: 30px;">
  ____            _ _   _           ____           _ 
 / ___| _ __ ___ (_) |_| |__       |  _ \ __ _  __| |
 \___ \| '_ ` _ \| | __| '_ \ _____| |_) / _` |/ _` |
  ___) | | | | | | | |_| | | |_____|  __/ (_| | (_| |
 |____/|_| |_| |_|_|\__|_| |_|     |_|   \__,_|\__,_|
                                             

                </pre>



                <div class="settings-main-screen-subtitle"
                        style="margin-top: 20px; font-size: 0.9em; line-height: 1.5;">
                        
                </div>
        </div>

</body>