<link rel="stylesheet" href="static/CSS/settings.css" type="text/css">


<!-- <style>
        .service-mode-banner {
                background-color: #f00;
                color: #fff;
                padding: 10px;
                text-align: center;
        }

        .service-mode-text {
                font-size: 1.2em;
                font-weight: bold;
        }
</style>

<div class="service-mode-banner">
        <span class="service-mode-text">Service Mode</span>
</div> -->


<div class="settings-main-screen">
        <div class="settings-main-screen-title">
                <pre>Settings</pre>
        </div>
        <button class="settings-button" onclick="location.href='/'">Back</button>
        <button class="settings-button" onclick="location.href='/settings_system'">System</button>
        <button class="settings-button" onclick="location.href='/settings_about'">About</button>
</div>