/*
                     _  _    _                       _               _                     
  _ __    ___   ___ (_)| |_ (_)  ___   _ __         | |_  ___ __  __| |_     ___  ___  ___ 
 | '_ \  / _ \ / __|| || __|| | / _ \ | '_ \  _____ | __|/ _ \\ \/ /| __|   / __|/ __|/ __|
 | |_) || (_) |\__ \| || |_ | || (_) || | | ||_____|| |_|  __/ >  < | |_  _| (__ \__ \\__ \
 | .__/  \___/ |___/|_| \__||_| \___/ |_| |_|        \__|\___|/_/\_\ \__|(_)\___||___/|___/
 |_|                                                                                       
*/



/* Position */
.center {
  text-align: center;
  border: 3px solid /* ONLY ON DEBUG */transparent;
}

/* Position */
.left {
  text-align: left;
  border: 3px solid /* ONLY ON DEBUG */transparent ;
}


.space {
  text-align: left;
  border: 3px solid;
}