/*
                     _  _    _                       _               _                     
  _ __    ___   ___ (_)| |_ (_)  ___   _ __         | |_  ___ __  __| |_     ___  ___  ___ 
 | '_ \  / _ \ / __|| || __|| | / _ \ | '_ \  _____ | __|/ _ \\ \/ /| __|   / __|/ __|/ __|
 | |_) || (_) |\__ \| || |_ | || (_) || | | ||_____|| |_|  __/ >  < | |_  _| (__ \__ \\__ \
 | .__/  \___/ |___/|_| \__||_| \___/ |_| |_|        \__|\___|/_/\_\ \__|(_)\___||___/|___/
 |_|                                                                                       
*/



/* Position */
.center {
  text-align: center;
  border: 3px solid /* ONLY ON DEBUG */transparent;
}

/* Position */
.left {
  text-align: left;
  border: 3px solid /* ONLY ON DEBUG */transparent ;
}


.space {
  text-align: left;
  border: 3px solid /* ONLY ON DEBUG */transparent;
}


.space-2 {text-align: left;border: 2px solid /* ONLY ON DEBUG */transparent;}
.space-3 {text-align: left;border: 3px solid /* ONLY ON DEBUG */transparent;}
.space-4 {text-align: left;border: 4px solid /* ONLY ON DEBUG */transparent;}
.space-5 {text-align: left;border: 5px solid /* ONLY ON DEBUG */transparent;}
.space-6 {text-align: left;border: 6px solid /* ONLY ON DEBUG */transparent;}
.space-7 {text-align: left;border: 7px solid /* ONLY ON DEBUG */transparent;}
.space-8 {text-align: left;border: 8px solid /* ONLY ON DEBUG */transparent;}
.space-9 {text-align: left;border: 9px solid /* ONLY ON DEBUG */transparent;}
.space-10 {text-align: left;border: 10px solid /* ONLY ON DEBUG */transparent;}
.space-11 {text-align: left;border: 11px solid /* ONLY ON DEBUG */transparent;}
.space-12 {text-align: left;border: 12px solid /* ONLY ON DEBUG */transparent;}
.space-13 {text-align: left;border: 13px solid /* ONLY ON DEBUG */transparent;}
.space-14 {text-align: left;border: 14px solid /* ONLY ON DEBUG */transparent;}
.space-15 {text-align: left;border: 15px solid /* ONLY ON DEBUG */transparent;}
.space-16 {text-align: left;border: 16px solid /* ONLY ON DEBUG */transparent;}
.space-17 {text-align: left;border: 17px solid /* ONLY ON DEBUG */transparent;}
.space-18 {text-align: left;border: 18px solid /* ONLY ON DEBUG */transparent;}
.space-19 {text-align: left;border: 19px solid /* ONLY ON DEBUG */transparent;}
.space-20 {text-align: left;border: 20px solid /* ONLY ON DEBUG */transparent;}
.space-21 {text-align: left;border: 21px solid /* ONLY ON DEBUG */transparent;}
.space-22 {text-align: left;border: 22px solid /* ONLY ON DEBUG */transparent;}
.space-23 {text-align: left;border: 23px solid /* ONLY ON DEBUG */transparent;}
.space-24 {text-align: left;border: 24px solid /* ONLY ON DEBUG */transparent;}
.space-25 {text-align: left;border: 25px solid /* ONLY ON DEBUG */transparent;}
.space-26 {text-align: left;border: 26px solid /* ONLY ON DEBUG */transparent;}
.space-27 {text-align: left;border: 27px solid /* ONLY ON DEBUG */transparent;}
.space-28 {text-align: left;border: 28px solid /* ONLY ON DEBUG */transparent;}
.space-29 {text-align: left;border: 29px solid /* ONLY ON DEBUG */transparent;}
.space-30 {text-align: left;border: 30px solid /* ONLY ON DEBUG */transparent;}
.space-31 {text-align: left;border: 31px solid /* ONLY ON DEBUG */transparent;}
.space-32 {text-align: left;border: 32px solid /* ONLY ON DEBUG */transparent;}
.space-33 {text-align: left;border: 33px solid /* ONLY ON DEBUG */transparent;}
.space-34 {text-align: left;border: 34px solid /* ONLY ON DEBUG */transparent;}
.space-35 {text-align: left;border: 35px solid /* ONLY ON DEBUG */transparent;}
.space-36 {text-align: left;border: 36px solid /* ONLY ON DEBUG */transparent;}
.space-37 {text-align: left;border: 37px solid /* ONLY ON DEBUG */transparent;}
.space-38 {text-align: left;border: 38px solid /* ONLY ON DEBUG */transparent;}
.space-39 {text-align: left;border: 39px solid /* ONLY ON DEBUG */transparent;}
.space-40 {text-align: left;border: 40px solid /* ONLY ON DEBUG */transparent;}
.space-41 {text-align: left;border: 41px solid /* ONLY ON DEBUG */transparent;}
.space-42 {text-align: left;border: 42px solid /* ONLY ON DEBUG */transparent;}
.space-43 {text-align: left;border: 43px solid /* ONLY ON DEBUG */transparent;}
.space-44 {text-align: left;border: 44px solid /* ONLY ON DEBUG */transparent;}
.space-45 {text-align: left;border: 45px solid /* ONLY ON DEBUG */transparent;}
.space-46 {text-align: left;border: 46px solid /* ONLY ON DEBUG */transparent;}
.space-47 {text-align: left;border: 47px solid /* ONLY ON DEBUG */transparent;}
.space-48 {text-align: left;border: 48px solid /* ONLY ON DEBUG */transparent;}
.space-49 {text-align: left;border: 49px solid /* ONLY ON DEBUG */transparent;}
.space-50 {text-align: left;border: 50px solid /* ONLY ON DEBUG */transparent;}
.space-51 {text-align: left;border: 51px solid /* ONLY ON DEBUG */transparent;}
.space-52 {text-align: left;border: 52px solid /* ONLY ON DEBUG */transparent;}
.space-53 {text-align: left;border: 53px solid /* ONLY ON DEBUG */transparent;}
.space-54 {text-align: left;border: 54px solid /* ONLY ON DEBUG */transparent;}
.space-55 {text-align: left;border: 55px solid /* ONLY ON DEBUG */transparent;}
.space-56 {text-align: left;border: 56px solid /* ONLY ON DEBUG */transparent;}
.space-57 {text-align: left;border: 57px solid /* ONLY ON DEBUG */transparent;}
.space-58 {text-align: left;border: 58px solid /* ONLY ON DEBUG */transparent;}
.space-59 {text-align: left;border: 59px solid /* ONLY ON DEBUG */transparent;}
.space-60 {text-align: left;border: 60px solid /* ONLY ON DEBUG */transparent;}
.space-61 {text-align: left;border: 61px solid /* ONLY ON DEBUG */transparent;}
.space-62 {text-align: left;border: 62px solid /* ONLY ON DEBUG */transparent;}
.space-63 {text-align: left;border: 63px solid /* ONLY ON DEBUG */transparent;}
.space-64 {text-align: left;border: 64px solid /* ONLY ON DEBUG */transparent;}
.space-65 {text-align: left;border: 65px solid /* ONLY ON DEBUG */transparent;}
.space-66 {text-align: left;border: 66px solid /* ONLY ON DEBUG */transparent;}
.space-67 {text-align: left;border: 67px solid /* ONLY ON DEBUG */transparent;}
.space-68 {text-align: left;border: 68px solid /* ONLY ON DEBUG */transparent;}
.space-69 {text-align: left;border: 69px solid /* ONLY ON DEBUG */transparent;}
.space-70 {text-align: left;border: 70px solid /* ONLY ON DEBUG */transparent;}
.space-71 {text-align: left;border: 71px solid /* ONLY ON DEBUG */transparent;}
.space-72 {text-align: left;border: 72px solid /* ONLY ON DEBUG */transparent;}
.space-73 {text-align: left;border: 73px solid /* ONLY ON DEBUG */transparent;}
.space-74 {text-align: left;border: 74px solid /* ONLY ON DEBUG */transparent;}
.space-75 {text-align: left;border: 75px solid /* ONLY ON DEBUG */transparent;}
.space-76 {text-align: left;border: 76px solid /* ONLY ON DEBUG */transparent;}
.space-77 {text-align: left;border: 77px solid /* ONLY ON DEBUG */transparent;}
.space-78 {text-align: left;border: 78px solid /* ONLY ON DEBUG */transparent;}
.space-79 {text-align: left;border: 79px solid /* ONLY ON DEBUG */transparent;}
.space-80 {text-align: left;border: 80px solid /* ONLY ON DEBUG */transparent;}
.space-81 {text-align: left;border: 81px solid /* ONLY ON DEBUG */transparent;}
.space-82 {text-align: left;border: 82px solid /* ONLY ON DEBUG */transparent;}
.space-83 {text-align: left;border: 83px solid /* ONLY ON DEBUG */transparent;}
.space-84 {text-align: left;border: 84px solid /* ONLY ON DEBUG */transparent;}
.space-85 {text-align: left;border: 85px solid /* ONLY ON DEBUG */transparent;}
.space-86 {text-align: left;border: 86px solid /* ONLY ON DEBUG */transparent;}
.space-87 {text-align: left;border: 87px solid /* ONLY ON DEBUG */transparent;}
.space-88 {text-align: left;border: 88px solid /* ONLY ON DEBUG */transparent;}
.space-89 {text-align: left;border: 89px solid /* ONLY ON DEBUG */transparent;}
.space-90 {text-align: left;border: 90px solid /* ONLY ON DEBUG */transparent;}
.space-91 {text-align: left;border: 91px solid /* ONLY ON DEBUG */transparent;}
.space-92 {text-align: left;border: 92px solid /* ONLY ON DEBUG */transparent;}
.space-93 {text-align: left;border: 93px solid /* ONLY ON DEBUG */transparent;}
.space-94 {text-align: left;border: 94px solid /* ONLY ON DEBUG */transparent;}
.space-95 {text-align: left;border: 95px solid /* ONLY ON DEBUG */transparent;}
.space-96 {text-align: left;border: 96px solid /* ONLY ON DEBUG */transparent;}
.space-97 {text-align: left;border: 97px solid /* ONLY ON DEBUG */transparent;}
.space-98 {text-align: left;border: 98px solid /* ONLY ON DEBUG */transparent;}
.space-99 {text-align: left;border: 99px solid /* ONLY ON DEBUG */transparent;}
.space-100 {text-align: left;border: 100px solid /* ONLY ON DEBUG */transparent;}
.space-101 {text-align: left;border: 101px solid /* ONLY ON DEBUG */transparent;}
.space-102 {text-align: left;border: 102px solid /* ONLY ON DEBUG */transparent;}
.space-103 {text-align: left;border: 103px solid /* ONLY ON DEBUG */transparent;}
.space-104 {text-align: left;border: 104px solid /* ONLY ON DEBUG */transparent;}
.space-105 {text-align: left;border: 105px solid /* ONLY ON DEBUG */transparent;}
.space-106 {text-align: left;border: 105px solid /* ONLY ON DEBUG */transparent;}
.space-107 {text-align: left;border: 107px solid /* ONLY ON DEBUG */transparent;}
.space-108 {text-align: left;border: 108px solid /* ONLY ON DEBUG */transparent;}
.space-109 {text-align: left;border: 109px solid /* ONLY ON DEBUG */transparent;}
.space-110 {text-align: left;border: 110px solid /* ONLY ON DEBUG */transparent;}
.space-111 {text-align: left;border: 111px solid /* ONLY ON DEBUG */transparent;}
.space-112 {text-align: left;border: 112px solid /* ONLY ON DEBUG */transparent;}
.space-113 {text-align: left;border: 113px solid /* ONLY ON DEBUG */transparent;}
.space-114 {text-align: left;border: 114px solid /* ONLY ON DEBUG */transparent;}
.space-115 {text-align: left;border: 115px solid /* ONLY ON DEBUG */transparent;}
.space-116 {text-align: left;border: 116px solid /* ONLY ON DEBUG */transparent;}
.space-117 {text-align: left;border: 117px solid /* ONLY ON DEBUG */transparent;}
.space-118 {text-align: left;border: 118px solid /* ONLY ON DEBUG */transparent;}
.space-119 {text-align: left;border: 119px solid /* ONLY ON DEBUG */transparent;}
.space-120 {text-align: left;border: 120px solid /* ONLY ON DEBUG */transparent;}
.space-121 {text-align: left;border: 121px solid /* ONLY ON DEBUG */transparent;}
.space-122 {text-align: left;border: 122px solid /* ONLY ON DEBUG */transparent;}
.space-123 {text-align: left;border: 123px solid /* ONLY ON DEBUG */transparent;}
.space-124 {text-align: left;border: 124px solid /* ONLY ON DEBUG */transparent;}
.space-125 {text-align: left;border: 125px solid /* ONLY ON DEBUG */transparent;}
.space-126 {text-align: left;border: 126px solid /* ONLY ON DEBUG */transparent;}
.space-127 {text-align: left;border: 127px solid /* ONLY ON DEBUG */transparent;}
.space-128 {text-align: left;border: 128px solid /* ONLY ON DEBUG */transparent;}
.space-129 {text-align: left;border: 129px solid /* ONLY ON DEBUG */transparent;}
.space-130 {text-align: left;border: 130px solid /* ONLY ON DEBUG */transparent;}
.space-131 {text-align: left;border: 131px solid /* ONLY ON DEBUG */transparent;}
.space-132 {text-align: left;border: 132px solid /* ONLY ON DEBUG */transparent;}
.space-133 {text-align: left;border: 133px solid /* ONLY ON DEBUG */transparent;}
.space-134 {text-align: left;border: 134px solid /* ONLY ON DEBUG */transparent;}
.space-134 {text-align: left;border: 134px solid /* ONLY ON DEBUG */transparent;}
.space-135 {text-align: left;border: 135px solid /* ONLY ON DEBUG */transparent;}
.space-136 {text-align: left;border: 136px solid /* ONLY ON DEBUG */transparent;}
.space-137 {text-align: left;border: 137px solid /* ONLY ON DEBUG */transparent;}
.space-138 {text-align: left;border: 138px solid /* ONLY ON DEBUG */transparent;}
.space-139 {text-align: left;border: 139px solid /* ONLY ON DEBUG */transparent;}
.space-140 {text-align: left;border: 140px solid /* ONLY ON DEBUG */transparent;}
.space-141 {text-align: left;border: 141px solid /* ONLY ON DEBUG */transparent;}
.space-142 {text-align: left;border: 142px solid /* ONLY ON DEBUG */transparent;}
.space-143 {text-align: left;border: 143px solid /* ONLY ON DEBUG */transparent;}
.space-144 {text-align: left;border: 144px solid /* ONLY ON DEBUG */transparent;}
.space-145 {text-align: left;border: 145px solid /* ONLY ON DEBUG */transparent;}
.space-146 {text-align: left;border: 146px solid /* ONLY ON DEBUG */transparent;}
.space-147 {text-align: left;border: 147px solid /* ONLY ON DEBUG */transparent;}
.space-148 {text-align: left;border: 148px solid /* ONLY ON DEBUG */transparent;}
.space-149 {text-align: left;border: 149px solid /* ONLY ON DEBUG */transparent;}
.space-150 {text-align: left;border: 150px solid /* ONLY ON DEBUG */transparent;}
.space-151 {text-align: left;border: 151px solid /* ONLY ON DEBUG */transparent;}
.space-152 {text-align: left;border: 152px solid /* ONLY ON DEBUG */transparent;}
.space-153 {text-align: left;border: 153px solid /* ONLY ON DEBUG */transparent;}
.space-154 {text-align: left;border: 154px solid /* ONLY ON DEBUG */transparent;}
.space-155 {text-align: left;border: 155px solid /* ONLY ON DEBUG */transparent;}
.space-156 {text-align: left;border: 156px solid /* ONLY ON DEBUG */transparent;}
.space-157 {text-align: left;border: 157px solid /* ONLY ON DEBUG */transparent;}
.space-158 {text-align: left;border: 158px solid /* ONLY ON DEBUG */transparent;}
.space-159 {text-align: left;border: 159px solid /* ONLY ON DEBUG */transparent;}
.space-160 {text-align: left;border: 160px solid /* ONLY ON DEBUG */transparent;}
.space-161 {text-align: left;border: 161px solid /* ONLY ON DEBUG */transparent;}
.space-162 {text-align: left;border: 162px solid /* ONLY ON DEBUG */transparent;}
.space-163 {text-align: left;border: 163px solid /* ONLY ON DEBUG */transparent;}
.space-164 {text-align: left;border: 164px solid /* ONLY ON DEBUG */transparent;}
.space-165 {text-align: left;border: 165px solid /* ONLY ON DEBUG */transparent;}
.space-166 {text-align: left;border: 166px solid /* ONLY ON DEBUG */transparent;}
.space-167 {text-align: left;border: 167px solid /* ONLY ON DEBUG */transparent;}
.space-168 {text-align: left;border: 168px solid /* ONLY ON DEBUG */transparent;}
.space-169 {text-align: left;border: 169px solid /* ONLY ON DEBUG */transparent;}
.space-170 {text-align: left;border: 170px solid /* ONLY ON DEBUG */transparent;}
.space-171 {text-align: left;border: 171px solid /* ONLY ON DEBUG */transparent;}
.space-172 {text-align: left;border: 172px solid /* ONLY ON DEBUG */transparent;}
.space-173 {text-align: left;border: 173px solid /* ONLY ON DEBUG */transparent;}
.space-174 {text-align: left;border: 174px solid /* ONLY ON DEBUG */transparent;}
.space-175 {text-align: left;border: 175px solid /* ONLY ON DEBUG */transparent;}
.space-176 {text-align: left;border: 176px solid /* ONLY ON DEBUG */transparent;}
.space-177 {text-align: left;border: 177px solid /* ONLY ON DEBUG */transparent;}
.space-178 {text-align: left;border: 178px solid /* ONLY ON DEBUG */transparent;}
.space-179 {text-align: left;border: 179px solid /* ONLY ON DEBUG */transparent;}
.space-180 {text-align: left;border: 180px solid /* ONLY ON DEBUG */transparent;}
.space-181 {text-align: left;border: 181px solid /* ONLY ON DEBUG */transparent;}
.space-182 {text-align: left;border: 182px solid /* ONLY ON DEBUG */transparent;}
.space-183 {text-align: left;border: 183px solid /* ONLY ON DEBUG */transparent;}
.space-184 {text-align: left;border: 184px solid /* ONLY ON DEBUG */transparent;}
.space-185 {text-align: left;border: 185px solid /* ONLY ON DEBUG */transparent;}
.space-186 {text-align: left;border: 186px solid /* ONLY ON DEBUG */transparent;}
.space-187 {text-align: left;border: 187px solid /* ONLY ON DEBUG */transparent;}
.space-188 {text-align: left;border: 188px solid /* ONLY ON DEBUG */transparent;}
.space-189 {text-align: left;border: 189px solid /* ONLY ON DEBUG */transparent;}
.space-190 {text-align: left;border: 190px solid /* ONLY ON DEBUG */transparent;}
.space-191 {text-align: left;border: 191px solid /* ONLY ON DEBUG */transparent;}
.space-192 {text-align: left;border: 192px solid /* ONLY ON DEBUG */transparent;}
.space-193 {text-align: left;border: 193px solid /* ONLY ON DEBUG */transparent;}
.space-194 {text-align: left;border: 194px solid /* ONLY ON DEBUG */transparent;}
.space-195 {text-align: left;border: 195px solid /* ONLY ON DEBUG */transparent;}
.space-196 {text-align: left;border: 196px solid /* ONLY ON DEBUG */transparent;}
.space-197 {text-align: left;border: 197px solid /* ONLY ON DEBUG */transparent;}
.space-198 {text-align: left;border: 198px solid /* ONLY ON DEBUG */transparent;}
.space-199 {text-align: left;border: 199px solid /* ONLY ON DEBUG */transparent;}
.space-200 {text-align: left;border: 200px solid /* ONLY ON DEBUG */transparent;}