/*
                     _  _    _                       _               _                     
  _ __    ___   ___ (_)| |_ (_)  ___   _ __         | |_  ___ __  __| |_     ___  ___  ___ 
 | '_ \  / _ \ / __|| || __|| | / _ \ | '_ \  _____ | __|/ _ \\ \/ /| __|   / __|/ __|/ __|
 | |_) || (_) |\__ \| || |_ | || (_) || | | ||_____|| |_|  __/ >  < | |_  _| (__ \__ \\__ \
 | .__/  \___/ |___/|_| \__||_| \___/ |_| |_|        \__|\___|/_/\_\ \__|(_)\___||___/|___/
 |_|                                                                                       
*/



/* Position */
.center {
  text-align: center;
  border: 3px solid /* ONLY ON DEBUG */transparent;
}

/* Position */
.left {
  text-align: left;
  border: 3px solid /* ONLY ON DEBUG */transparent ;
}


.space {
  text-align: left;
  border: 3px solid;
}


.space-2 {text-align: left;border: 2px solid;}
.space-3 {text-align: left;border: 3px solid;}
.space-4 {text-align: left;border: 4px solid;}
.space-5 {text-align: left;border: 5px solid;}
.space-6 {text-align: left;border: 6px solid;}
.space-7 {text-align: left;border: 7px solid;}
.space-8 {text-align: left;border: 8px solid;}
.space-9 {text-align: left;border: 9px solid;}
.space-10 {text-align: left;border: 10px solid;}
.space-11 {text-align: left;border: 11px solid;}
.space-12 {text-align: left;border: 12px solid;}
.space-13 {text-align: left;border: 13px solid;}
.space-14 {text-align: left;border: 14px solid;}
.space-15 {text-align: left;border: 15px solid;}
.space-16 {text-align: left;border: 16px solid;}
.space-17 {text-align: left;border: 17px solid;}
.space-18 {text-align: left;border: 18px solid;}
.space-19 {text-align: left;border: 19px solid;}
.space-20 {text-align: left;border: 20px solid;}
.space-21 {text-align: left;border: 21px solid;}
.space-22 {text-align: left;border: 22px solid;}
.space-23 {text-align: left;border: 23px solid;}
.space-24 {text-align: left;border: 24px solid;}
.space-25 {text-align: left;border: 25px solid;}
.space-26 {text-align: left;border: 26px solid;}
.space-27 {text-align: left;border: 27px solid;}
.space-28 {text-align: left;border: 28px solid;}
.space-29 {text-align: left;border: 29px solid;}
.space-30 {text-align: left;border: 30px solid;}
.space-31 {text-align: left;border: 31px solid;}
.space-32 {text-align: left;border: 32px solid;}
.space-33 {text-align: left;border: 33px solid;}
.space-34 {text-align: left;border: 34px solid;}
.space-35 {text-align: left;border: 35px solid;}
.space-36 {text-align: left;border: 36px solid;}
.space-37 {text-align: left;border: 37px solid;}
.space-38 {text-align: left;border: 38px solid;}
.space-39 {text-align: left;border: 39px solid;}
.space-40 {text-align: left;border: 40px solid;}
.space-41 {text-align: left;border: 41px solid;}
.space-42 {text-align: left;border: 42px solid;}
.space-43 {text-align: left;border: 43px solid;}
.space-44 {text-align: left;border: 44px solid;}
.space-45 {text-align: left;border: 45px solid;}
.space-46 {text-align: left;border: 46px solid;}
.space-47 {text-align: left;border: 47px solid;}
.space-48 {text-align: left;border: 48px solid;}
.space-49 {text-align: left;border: 49px solid;}
.space-50 {text-align: left;border: 50px solid;}
.space-51 {text-align: left;border: 51px solid;}
.space-52 {text-align: left;border: 52px solid;}
.space-53 {text-align: left;border: 53px solid;}
.space-54 {text-align: left;border: 54px solid;}
.space-55 {text-align: left;border: 55px solid;}
.space-56 {text-align: left;border: 56px solid;}
.space-57 {text-align: left;border: 57px solid;}
.space-58 {text-align: left;border: 58px solid;}
.space-59 {text-align: left;border: 59px solid;}
.space-60 {text-align: left;border: 60px solid;}
.space-61 {text-align: left;border: 61px solid;}
.space-62 {text-align: left;border: 62px solid;}
.space-63 {text-align: left;border: 63px solid;}
.space-64 {text-align: left;border: 64px solid;}
.space-65 {text-align: left;border: 65px solid;}
.space-66 {text-align: left;border: 66px solid;}
.space-67 {text-align: left;border: 67px solid;}
.space-68 {text-align: left;border: 68px solid;}
.space-69 {text-align: left;border: 69px solid;}
.space-70 {text-align: left;border: 70px solid;}
.space-71 {text-align: left;border: 71px solid;}
.space-72 {text-align: left;border: 72px solid;}
.space-73 {text-align: left;border: 73px solid;}
.space-74 {text-align: left;border: 74px solid;}
.space-75 {text-align: left;border: 75px solid;}
.space-76 {text-align: left;border: 76px solid;}
.space-77 {text-align: left;border: 77px solid;}
.space-78 {text-align: left;border: 78px solid;}
.space-79 {text-align: left;border: 79px solid;}
.space-80 {text-align: left;border: 80px solid;}
.space-81 {text-align: left;border: 81px solid;}
.space-82 {text-align: left;border: 82px solid;}
.space-83 {text-align: left;border: 83px solid;}
.space-84 {text-align: left;border: 84px solid;}
.space-85 {text-align: left;border: 85px solid;}
.space-86 {text-align: left;border: 86px solid;}
.space-87 {text-align: left;border: 87px solid;}
.space-88 {text-align: left;border: 88px solid;}
.space-89 {text-align: left;border: 89px solid;}
.space-90 {text-align: left;border: 90px solid;}
.space-91 {text-align: left;border: 91px solid;}
.space-92 {text-align: left;border: 92px solid;}
.space-93 {text-align: left;border: 93px solid;}
.space-94 {text-align: left;border: 94px solid;}
.space-95 {text-align: left;border: 95px solid;}
.space-96 {text-align: left;border: 96px solid;}
.space-97 {text-align: left;border: 97px solid;}
.space-98 {text-align: left;border: 98px solid;}
.space-99 {text-align: left;border: 99px solid;}
.space-100 {text-align: left;border: 100px solid;}
.space-101 {text-align: left;border: 101px solid;}
.space-102 {text-align: left;border: 102px solid;}
.space-103 {text-align: left;border: 103px solid;}
.space-104 {text-align: left;border: 104px solid;}
.space-105 {text-align: left;border: 105px solid;}
.space-106 {text-align: left;border: 105px solid;}
.space-107 {text-align: left;border: 107px solid;}
.space-108 {text-align: left;border: 108px solid;}
.space-109 {text-align: left;border: 109px solid;}
.space-110 {text-align: left;border: 110px solid;}
.space-111 {text-align: left;border: 111px solid;}
.space-112 {text-align: left;border: 112px solid;}
.space-113 {text-align: left;border: 113px solid;}
.space-114 {text-align: left;border: 114px solid;}
.space-115 {text-align: left;border: 115px solid;}
.space-116 {text-align: left;border: 116px solid;}
.space-117 {text-align: left;border: 117px solid;}
.space-118 {text-align: left;border: 118px solid;}
.space-119 {text-align: left;border: 119px solid;}
.space-120 {text-align: left;border: 120px solid;}
.space-121 {text-align: left;border: 121px solid;}
.space-122 {text-align: left;border: 122px solid;}
.space-123 {text-align: left;border: 123px solid;}
.space-124 {text-align: left;border: 124px solid;}
.space-125 {text-align: left;border: 125px solid;}
.space-126 {text-align: left;border: 126px solid;}
.space-127 {text-align: left;border: 127px solid;}
.space-128 {text-align: left;border: 128px solid;}
.space-129 {text-align: left;border: 129px solid;}
.space-130 {text-align: left;border: 130px solid;}
.space-131 {text-align: left;border: 131px solid;}
.space-132 {text-align: left;border: 132px solid;}
.space-133 {text-align: left;border: 133px solid;}
.space-134 {text-align: left;border: 134px solid;}
.space-134 {text-align: left;border: 134px solid;}
.space-135 {text-align: left;border: 135px solid;}
.space-136 {text-align: left;border: 136px solid;}
.space-137 {text-align: left;border: 137px solid;}
.space-138 {text-align: left;border: 138px solid;}
.space-139 {text-align: left;border: 139px solid;}
.space-140 {text-align: left;border: 140px solid;}
.space-141 {text-align: left;border: 141px solid;}
.space-142 {text-align: left;border: 142px solid;}
.space-143 {text-align: left;border: 143px solid;}
.space-144 {text-align: left;border: 144px solid;}
.space-145 {text-align: left;border: 145px solid;}
.space-146 {text-align: left;border: 146px solid;}
.space-147 {text-align: left;border: 147px solid;}
.space-148 {text-align: left;border: 148px solid;}
.space-149 {text-align: left;border: 149px solid;}
.space-150 {text-align: left;border: 150px solid;}
.space-151 {text-align: left;border: 151px solid;}
.space-152 {text-align: left;border: 152px solid;}
.space-153 {text-align: left;border: 153px solid;}
.space-154 {text-align: left;border: 154px solid;}
.space-155 {text-align: left;border: 155px solid;}
.space-156 {text-align: left;border: 156px solid;}
.space-157 {text-align: left;border: 157px solid;}
.space-158 {text-align: left;border: 158px solid;}
.space-159 {text-align: left;border: 159px solid;}
.space-160 {text-align: left;border: 160px solid;}
.space-161 {text-align: left;border: 161px solid;}
.space-162 {text-align: left;border: 162px solid;}
.space-163 {text-align: left;border: 163px solid;}
.space-164 {text-align: left;border: 164px solid;}
.space-165 {text-align: left;border: 165px solid;}
.space-166 {text-align: left;border: 166px solid;}
.space-167 {text-align: left;border: 167px solid;}
.space-168 {text-align: left;border: 168px solid;}
.space-169 {text-align: left;border: 169px solid;}
.space-170 {text-align: left;border: 170px solid;}
.space-171 {text-align: left;border: 171px solid;}
.space-172 {text-align: left;border: 172px solid;}
.space-173 {text-align: left;border: 173px solid;}
.space-174 {text-align: left;border: 174px solid;}
.space-175 {text-align: left;border: 175px solid;}
.space-176 {text-align: left;border: 176px solid;}
.space-177 {text-align: left;border: 177px solid;}
.space-178 {text-align: left;border: 178px solid;}
.space-179 {text-align: left;border: 179px solid;}
.space-180 {text-align: left;border: 180px solid;}
.space-181 {text-align: left;border: 181px solid;}
.space-182 {text-align: left;border: 182px solid;}
.space-183 {text-align: left;border: 183px solid;}
.space-184 {text-align: left;border: 184px solid;}
.space-185 {text-align: left;border: 185px solid;}
.space-186 {text-align: left;border: 186px solid;}
.space-187 {text-align: left;border: 187px solid;}
.space-188 {text-align: left;border: 188px solid;}
.space-189 {text-align: left;border: 189px solid;}
.space-190 {text-align: left;border: 190px solid;}
.space-191 {text-align: left;border: 191px solid;}
.space-192 {text-align: left;border: 192px solid;}
.space-193 {text-align: left;border: 193px solid;}
.space-194 {text-align: left;border: 194px solid;}
.space-195 {text-align: left;border: 195px solid;}
.space-196 {text-align: left;border: 196px solid;}
.space-197 {text-align: left;border: 197px solid;}
.space-198 {text-align: left;border: 198px solid;}
.space-199 {text-align: left;border: 199px solid;}
.space-200 {text-align: left;border: 200px solid;}