.activate {
        position: fixed;
        visibility: hidden;

}

.activate:target {
        visibility: visible;
        opacity: 1; 
}

.bar {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}