// OSUI Components 
.osui-button-small {
	border: none;
	padding: 9px 14px;
	font-size: 18px;
	color: white;
	background-color: #3b3b3b;
	box-shadow: 0px 5px 0px #333333;
	border-radius: 8px;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

// OSUI Classic 

.button {
	background-color: rgb(255, 255, 255);
	padding: 16px 43px;
	border: none;
	color: white;
	font-size: 18px;
	text-decoration: none;
	animation-name: foil-buttons-effect;
	animation-duration: 2s;
	margin: 20px;

}



// FOIL-UI Components
.FOIL-button-regular {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459),
                0 20px 20px 0 rgba(61, 61, 61, 0.589);
}


.FOIL-button-regular.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}


.FOIL-button-regular:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-regular:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}


.FOIL-button-regular-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}



.FOIL-button-regular-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}



.FOIL-button-regular-no-shadow:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-regular-no-shadow:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}


.FOIL-button-regular-no-feedback {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459),
                0 20px 20px 0 rgba(61, 61, 61, 0.589);
}


.FOIL-button-regular-no-feedback.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular-no-feedback.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}


.FOIL-button-regular-no-feedback-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}


.FOIL-button-regular-no-feedback-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-regular-no-feedback-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}


.FOIL-button-small {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459),
                0 20px 20px 0 rgba(61, 61, 61, 0.589);
}


.FOIL-button-small.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}



.FOIL-button-small:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-small:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}


.FOIL-button-small-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}



.FOIL-button-small-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}



.FOIL-button-small-no-shadow:hover {
        box-shadow: 0 12px 16px 0 rgb(1, 208, 67), 0 17px 50px 0 rgb(1, 208, 67);
        background-color: rgb(1, 208, 67);
        color: white;
}

.FOIL-button-small-no-shadow:active {
        box-shadow: 0 12px 16px 0 rgb(255, 0, 0), 0 17px 50px 0 rgb(255, 0, 0);
        background-color: red;
        color: white;
}


.FOIL-button-small-no-feedback {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459),
                0 20px 20px 0 rgba(61, 61, 61, 0.589);
}


.FOIL-button-small-no-feedback.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-feedback.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}


.FOIL-button-small-no-feedback-no-shadow {
        background-color: gray;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
}


.FOIL-button-small-no-feedback-no-shadow.color-is-red {
        background-color: rgba(185, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-black {
        background-color: rgba(0, 0, 0, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-yellow {
        background-color: rgba(255, 217, 0, 0.931);
        color: black;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-green {
        background-color: rgb(67, 91, 68);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-blue {
        background-color: rgb(67, 69, 91);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-orange {
        background-color: rgb(167, 72, 14);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-pink {
        background-color: rgba(185, 0, 114, 0.931);
        color: white;
}

.FOIL-button-small-no-feedback-no-shadow.color-is-purple {
        background-color: rgba(126, 0, 185, 0.931);
        color: white;
}