.osui-button {
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        color: white;
        margin-right: 20px;
        background-color: #3b3b3b;
        box-shadow: 0px 5px 0px #333333;
        border-radius: 8px;
        cursor: pointer;
        text-decoration:none;
        transition-duration: 0.2s;
}

.osui-button:hover {
        box-shadow: 0px 20px 0px #ffffff;
}


.osui-button:active {
        box-shadow: 0px 70px 0px #08b34f;
}



.osui-button-small {
        border: none;
        padding: 9px 14px;
        font-size: 18px;
        color: white;
        background-color: #3b3b3b;
        box-shadow: 0px 5px 0px #333333;
        border-radius: 8px;
        cursor: pointer;
        text-decoration:none;
        transition-duration: 0.2s;
}

.osui-button-small:hover {
        box-shadow: 0px 20px 0px #ffffff;
}