// clock-mode.scss

.clock-mode-time {
        background-color: rgba(20, 20, 20, 0.111);
        border-radius: 30px;
        color: white;
        text-align: center;
        font-size: 200px;
        margin-top: -77px;
        transition-duration: 0.9;
        font-weight: 20;
}