// OSUI Component
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-perspective: 1px;
	perspective: 1px;
	background: rgb(31, 31, 31);
	color: white;
}