.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border-radius: 10px;
}

.grid-item {
    background-color: #6b6b6b;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;

}