sidebar
{
        background-color: rgb(0, 0, 4);
        margin-bottom: 100;
        padding: 0;
        width: 25%;
        position: fixed;
        animation-duration: 0.7s;
}


sidebar:hover 

{
	background-color: rgb(43, 41, 39);
        font-size: 20px;
	color: black;
}

