.user-profile-grid {
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 4rem;
        width: 4rem;
}

.user-profile-picture {
        height: 50%;
        width: 50%;
}