/* Menu Interface */

/* Smith Pad */

.activate {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.activate:target {
  visibility: visible;
  opacity: 1;
}

.L {
  margin: 200px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  width: auto;
  position: relative;
  color: black;
}

.L .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 58px;
  font-weight: 500;
  text-decoration: none;
  color: red;
  transition-duration: 0.2s;
}
.L .close:hover {
  color: #06d85f;
  font-size: 90px;
}
.L .content {
  max-height: 30%;
  width: 30%;
  overflow: auto;
}

/* Modifies the Button Element on UI.css */

.button.is-pink {
  padding: 13px 23px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  transition-duration: 0.2s;
}
.button.is-pink:active {
  background-color: rgb(0, 126, 0);
}
.button.is-pink:hover {
  font-size: 20px;
  background-color: rgb(0, 126, 0);
  content: "";
}
